{% extends 'base.html' %}

{% block title %}Confirm{% endblock %}

{% block content %}
<div id="" class="pop-up-common-widget" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content"> 
                <button type="button" class="close" data-dismiss="modal">
                  <img src="/static/ImagesCiiboo/close-icon.png">
                 </button>
              <div class="modal-body">
                 <div class="auth Login">                 
                    <div class="login-icon">
                        <img src="/static/ImagesCiiboo/forget-email.png">
                    </div>	
                  <h2>Verify your email Address</h2>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      {% if error %}
                      <div class="error">{{error}}</div>
                      <hr>
                      {% endif %}
                      <button type="submit" class="btn btn-success">Resend Verification Email</button>
                    </form>
                </div>               
            </div> 
        </div>
    </div>
</div>
{% endblock %}

