{% extends 'base.html' %}
{% block title %}Confirm{% endblock %}
{% block content %}
<div id="sign-up-as-business-model" class="pop-up-common-widget" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content"> 
                <button type="button" class="close" data-dismiss="modal">
                  <img src="/static/ImagesCiiboo/close-icon.png">
                 </button>
              <div class="modal-body">
                 <div class="auth Login">                 
                    <div class="login-icon">
                        <img src="/static/ImagesCiiboo/forget-email.png">
                    </div>
                     <h2>Email Password Reset Token</h2>
                       {% if no %}
                          <p>No user found with this email.</p>
                        {% endif %}
                        {% if nomail %}
                          <p>Error sending email please try again.</p>
                        {% endif %}
                        <form method="post">
                        {% csrf_token %}                       
                            {% for field in form %}
                              <div class="col-md-6-custom no-padding field-{{field.name}}">
                                  {{ field.errors }}                               
                                 <div>
                                     {{ field }}
                                 </div>
                              </div>
                            {% endfor %}

                        {% if error %}
                        <div class="error">{{error}}</div>
                        <hr>
                        {% endif %}
                        <button type="submit" class="btn btn-success">Send</button>
                      </form>
                </div>               
             </div> 
          </div>
        </div>
      </div>
{% endblock %}