{% extends 'base.html' %}
      {% block title %}Login{% endblock %}
      {% block content %}
      <div id="login-model" class="pop-up-common-widget" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content"> 
                <button type="button" class="close" data-dismiss="modal">
                  <img src="/static/ImagesCiiboo/close-icon.png">
                 </button>
              <div class="modal-body">
                 <div class="auth Login">                 
                    <div class="login-icon">
                        <img src="/static/ImagesCiiboo/login-icon.png">
                    </div>
					
                     <h2>Sign In</h2>
					  
                      <form method="post">
                        {% csrf_token %}
								{% for field, error in form.errors.items %}
								<p style="color: red;">
											
											
									{% if field != '__all__' %}{{ field }}{% endif %}
									{{ error | striptags }}
									</p>
								{% endfor %}
                        {% for field in form %}
                            <div class="col-md-6-custom no-padding field-{{field.name}}">
                                
                                <!--<label> 
                                    {{ field.label_tag }}
                                </label>-->
                               <div>
                                   {{ field }}
                               </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Login</button>
							
						<a class="sign-with-googleplush" href="{% url 'social:begin' 'google-oauth2' %}">
					
                      <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;Sign in with google
                    </a>
                        <div class="forget-div">
                            <div class="col-md-6 col-xs-6 no-padding">
                                <label class="checkbox-inline"><input type="checkbox" value="">Remember me</label>
                            </div> 
                            <div class="col-md-6 col-xs-6 no-padding">
                             <a href="/forgot">Forgot Password?</a>
                            </div> 
                         </div>  
                      </form>
                </div>               
             </div>  
            <div class="footer-section">
                  Not a member ? <a href="/register">Create Account</a>
               </div>    
          </div>
        </div>
      </div>
{% endblock %}