{% extends 'base.html' %}

{% block title %}Sign up as Business{% endblock %}

{% block content %}

<div id="sign-up-as-business-model" class="pop-up-common-widget" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content"> 
      <button type="button" class="close" data-dismiss="modal">
        <img src="/static/ImagesCiiboo/close-icon.png">
      </button>
      <div class="modal-body">
       <div class="auth Login">                 
        <div class="login-icon">
          <img src="/static/ImagesCiiboo/as-user-icon.png">
        </div>
		<!--<a  href="{% url 'social:begin' 'google-oauth2' %}"></i>Login with Google</a>-->
        <h2>Sign up as Business</h2>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
		 
								
								{% for field, error in form.errors.items %}
								<p style="color: red;">
											
											
									{% if field != '__all__' %}{{ field }}{% endif %}
									{{ error | striptags }}
									</p>
								{% endfor %}
         {% for field in form %}
          <div class="col-md-6-custom field-{{field.name}}">
                   
              <div>
               {{ field }}
             </div>
           </div>
         {% endfor %}
        
        {% for field in form2 %}
         <div class="col-md-6-custom field-{{field.name}}">
            <div>
               {{ field }}
             </div>
           </div>
       {% endfor %}


       <input type="submit" name="user" value="Sign up as Business" class="btn btn-info btn-success"/>
     </form>
   </div>               
 </div>  
 <div class="footer-section">
  Not a member ? <a href="/register">Sign up as User</a>
</div>    
</div>
</div>
</div>
{% endblock %}