{% extends 'base.html' %}
{% block title %}Sign up as User{% endblock %}
{% block content %}
<div id="sign-up-user-model" class="pop-up-common-widget" role="dialog">

        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content"> 
                <button type="button" class="close" data-dismiss="modal">
                     <img src="/static/ImagesCiiboo/close-icon.png">
                 </button>
              <div class="modal-body">
                 <div class="auth Login">                 
                    <div class="login-icon">
                        <img src="/static/ImagesCiiboo/as-user-icon.png">
                    </div> 
               
                     <h2>Create Account</h2>
        				     <form method="post" class="form-width-100">
        					   	{% csrf_token %}								
        								{% for field, error in form.errors.items %}
        								<div style="color: red; text-align: center; font-size:14px; font-weight:bold ">
        									{% if field != '__all__' %}{{ field }}{% endif %}
        									{{ error | striptags }}
        								</div>
        								{% endfor %}
								
        			
                          <div class="col-md-6">{{form.first_name }}</div>
                          <div class="col-md-6"> {{form.last_name }}</div>
                          <div class="col-md-6"> {{form.email }}</div>
                          <div class="col-md-6"> {{form.addres }}</div>
                          <div class="col-md-6"> {{form.city }}</div>
                          <div class="col-md-6"> {{form.state }}</div>
                          <div class="col-md-6"> {{form.zip }}</div>
                          <div class="col-md-6"> {{form.mobile }}</div>
                          <div class="col-md-6"> {{form.password }}</div>
                          <div class="col-md-6"> {{form.confirm_password }}</div>

                    
        						<input type="submit" name="user" value="Sign up as User" class="btn btn-success"/>
        					</form>                  
                   <a class="sign-with-googleplush" href="{% url 'social:begin' 'google-oauth2' %}">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;Sign in with google
                    </a>
               </div>               
             </div>  
            <div class="footer-section">
              <a href="/register/restaurant">Sign up as Business</a>
            </div>    
          </div>
        </div>
 </div>
{% endblock %}