{% extends 'base.html' %}

{% block title %}Confirm{% endblock %}

{% block content %}
<div class="auth">
	
	{% if user %}
	<h3>Reset Password for <i>{{user.email}}</i></h3>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% if error %}
		<div class="error">{{error}}</div>
		<hr>
		{% endif %}
		<button type="submit" class="btn btn-success">Send</button>
	</form>
	{% else %}
	<h3>Invalid Token</h3>
	{% endif %}
</div>
{% endblock %}