{% extends "layouts/dashboard.html" %}

{% block title %}Sign up as Business{% endblock %}

{% block content %}

<div id="sign-up-as-business-model" class="update-profile-widget pop-up-common-widget" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">      
      <div class="modal-body">
       <div class="auth Login">                 
       <h2>Update Profile</h2>
     <form id="form" method="POST" action="/update/" enctype="multipart/form-data">
           {% csrf_token %}
          {{update_profile_form.errors }}           
          <div class="col-md-12">
              <label>First Name:</label>
              {{ update_profile_form.first_name}}{{ update_profile_form.first_name.errors }}
          </div>

          <div class="col-md-12 form-group has-feedback">
             <label>Last Name:</label>
             {{ update_profile_form.last_name}}{{ update_profile_form.last_name.errors }}
         </div>

          <div class="col-md-12 form-group has-feedback">
               <label>Addres:</label>
              {{ update_profile_form.addres}}{{ update_profile_form.addres.errors }}
          </div>
		
		      <div class="col-md-12 form-group has-feedback">
             <label>City:</label>
             {{ update_profile_form.city}}{{ update_profile_form.city.errors }}                     
        </div>
        <div class="col-md-12 form-group has-feedback">
             <label>State:</label>
             {{ update_profile_form.state}}{{ update_profile_form.state.errors }}
        </div>
        <div class="col-md-12 form-group has-feedback">
             <label>Zip:</label>
             {{ update_profile_form.zip}}{{ update_profile_form.zip.errors }}
        </div>
        <div class="col-md-12 form-group has-feedback">
             <label>Phone number:</label>
             {{ update_profile_form.mobile}}{{ update_profile_form.mobile.errors }}
        </div>		
        <div class="col-md-12 form-group has-feedback">
             <label> Profile pic:</label>
             {{ update_profile_form.avatar}}{{ update_profile_form.avatar.errors }}
        </div>
        <div class="row">
             <div class="col-xs-12 text-center">
			         <input type="SUBMIT" name="submit" value="Update" class="btn btn-info btn-success"/>
               </div><!-- /.col -->
        </div>
     </form>               
</div>               
 </div> 
</div>
</div>
</div>
{% endblock %}










