/* -- dashboard-profile -- */
button:focus,button:hover {	    
	    border: none;
	    outline: none;
	}
.update-profile-widget{
	label {
    		display: block!important;
		}
	form{	
			input{
			    border: 1px solid #fbd9d9;
			    border-radius: 4px;
			    background: #fcf5f5;
			    box-shadow: none;
			    margin-bottom: 20px;
			    width: 100%;
    			padding: 12px 9px;
			}
		}

}

.orders-active-widget{
	.restaurant-tag {
	    margin: 0 0 10px 0;
	    font-size: 18px;
	}
	.addres-widget {
	    background: #fcf5f5;
	    border: 1px solid #fbd9d9;
	    padding: 10px;
	    border-radius: 2px;
	    color: #444;
	    margin-top: 14px;
	    .header {
		    border-bottom: 1px solid #fbd9d9;
		    padding: 0 9px 9px 0;
		    margin-bottom: 10px;
		    font-size: 16px;
		}
		.col-md-6 {
		    padding-bottom: 7px;
		}
	}
	.header-list {
	    font-size: 19px;
	    font-family: Calibri, Candara, Arial, sans-serif;
	    margin-bottom: 10px;
	}
	.price-invoice-list{
		 margin-bottom: 0px;
		td{		   
		    font-size: 16px;
		    font-weight: bold;
		    color: #000;
		    text-transform: capitalize;
		}		
	}
	.price-list{
	 margin-bottom: 0px;
		 td{
			font-size: 16px;
			font-weight: bold;
			color: #000;
			text-transform: capitalize;
		}
	}
}
.dashboard-profile{
	.form-level {
   	 	padding: 0px 0 12px;
    	font-size: 16px;
	}
	.brd-rds {
   	 border-radius: 0px;
	}
}
/* -- end:dashboard-profile -- */


/* -- pickup -- */
.restaurants-order-widget{
	.cart-icon {
	    font-weight: bold;
	    font-size: 20px;
	    color: #555;
	}
	a.back-btn {
	    background: #eb2127;
	    color: #fff;
	    padding: 2px 9px;
	    border-radius: 2px;
	    font-size: 12px;
	    margin: 7px 0 0 0;
	    display: block;
	}
	.cart-icon img {
    	margin: 0 11px 4px 0;
	}
	.cart-here {
	    padding: 10px 0;
	    border-bottom: 1px solid #f1f1f1;
	    margin: 0 0 9px 0;
	}
.payment-cart{
		td{
		  border: none;
		}
			 img {
		    	border-radius: 0px;
			}
	.text-cap {
	    text-align: left;
	    color: #111;
	    font-size: 16px;
	    text-transform: capitalize;
	    font-weight: bold;
	}
	.price-cal {
	    text-align: left;
	    color: #111;
	    font-size: 16px;
	    text-transform: capitalize;
	    font-weight: bold;
	}
	.cross-btn {
		    background: url(/static/ImagesCiiboo/cross-btn.png) no-repeat 0 0;
		    border: none;
		    font-size: 0px;
		    height: 10px;
		    width: 10px;
		    display: block;
		    margin: 29px 0 0 0;
		}
	}
	.list-total {
	    border: 1px solid #f1f1f1;
	    width: 100%;
	    border-left: 0px;
	    border-right: 0px;
	    padding: 7px 0;
	    display: block;
	    border-bottom: 0px;
	    	td {
			    font-size: 20px;
			    font-weight: bold;
			    color: #5d5d5d;
			    font-family: Calibri, Candara, Arial, sans-serif;
			    text-transform: uppercase;
			}
	}
}


.delivery-page-widget{
		.select-ad{
		    font-size: 21px;
		    font-weight: bold;
		}	
	.mrg-20{
	 	margin: 21px 0 10px;
	}	
	button.add-new-address {
	    background: none;
	    border: none;
	    border-radius: 2px;
	    display: block;
	    color: #c31117;
	    padding: 0px;
	    margin: 0 0 0 20%;
	    font-weight: bold;
	}
	button.add-new-address:focus,button.add-new-address:hover {	    
	    border: none;
	    outline: none;
	    color: #3FB618;

	}
	button.btn-remove {
	        background: #f00;
		    border: none;
		    border-radius: 2px;
		    display: block;
		    color: #fff;
		    padding: 2px 10px;
		    margin: 10px;
	}
	.widget-color{
		background: #f7f7f7;
	    padding: 5px 0;
	    display: block;
	    margin: 0 0 10px 0;
	    border: 1px solid #f4f4f4;
	    border-radius: 2px;
	}
}
#delivery-add-address{label {
			    display: block!important;
		}}
.pickup-widget {
    width: 800px;
    margin: 20px auto 0;
    padding: 20px;
	    label {
			    display: block!important;
		}
	.border-cont{
	    border: 1px solid #fbd9d9;
	    padding: 10px;
	    border-radius: 4px;
	    background: #fcf5f5;
	    	.table {
			    margin-bottom: 0px;
			}
	}	
    .section-part {
		    margin: 20px 0 0;
		    padding: 4px 12px 12px 12PX;
		}
    .table{
		td {
		    padding: 6px 8px;
		    color: #444;
		    font-size: 18px;
		    text-transform: capitalize;
		    border: none;
		}
		tr.border {
		    border-top: 1px solid #fbd9d9;
		}
	}    
	.header{
		padding: 8px 7px;
		border-bottom: 1px solid #fbd9d9;
		margin-bottom: 10px;
		h2 {
			    font-size: 18px;
			    margin: 0px;
			    padding: 0px;
			    font-weight: bold;
			    color: #333;
			}
		.back-btn{
		    border: none;
			background: #c31117;
		    color: #fff;
		    padding: 1px 5px;
		    border-radius: 4px;
		    font-size: 12px;
		    margin: 6px 0 0 0;
		    display: block;
		}
	}
	img {
	    border-radius: 0px;
	}
	
}

/* -- end:pickup -- - */

/* -- cart -- - */
.brd-cart-payment-widget{	
		a.proceed-btn {
			border-radius: 2px;
		    padding: 0px 7px 2px;
		    font-size: 13px;
		}
		.cross-btn{
			background: url(/static/ImagesCiiboo/cross-btn.png) no-repeat 0 0;
		    border: none;
		    font-size: 0px;
		    height: 10px;
		    width: 10px;
		    display: block;
		    margin: 29px 0 0 0;
		}
		.list-total{
			   border: 1px solid #f1f1f1;
			    width: 100%;
			    border-left: 0px;
			    border-right: 0px;
			    padding: 7px 0;
			    display: block;
			    border-bottom: 0px;
			 td {
			  	  font-size: 20px;
				    font-weight: bold;
				    color: #5d5d5d;
				    font-family: Calibri, Candara, Arial, sans-serif;
				    text-transform: uppercase;
			}
		}
		.payment-cart{			
			td {
			    padding: 0px;
			    color: #999;
			    font-size: 13px;
			    border: none;
			    .text-cap{
					    text-align: left;
					    color: #111;
					    font-size: 16px;
					    text-transform: capitalize;
					    font-weight: bold;
					}
				 .price-cal{
					     text-align: left;
					    color: #111;
					    font-size: 16px;
					    text-transform: capitalize;
					    font-weight: bold;
					}
				}
			img {
				    border-radius: 0px;
				}
		}
	.cart-here{
		padding: 10px 0;
	    border-bottom: 1px solid #f1f1f1;
	    margin: 0 0 9px 0;
		.cart-icon{
			    font-weight: bold;
			    font-size: 20px;
			    color: #555;
			    img {
				    margin: 0 11px 4px 0;
				}
			}	
		a.back-btn {
		    background: #eb2127;
		    color: #fff;
		    padding: 2px 9px;
		    border-radius: 2px;
		    font-size: 12px;
		    margin: 7px 0 0 0;
		    display: block;
		}	
	}	
}

/* -- cart:end -- - */

/* -- dec72017 -- - */

body
{
	.restaurant {	
		.head {
		    position: relative;
		    height: 300px;
		    background: #000;
		    	.him {
				    height: 300px;
				    position: absolute;
				    width: auto;
				    border-radius: 0px;
				    left: 0px;
				    right: 0px;
				    top: 0px;
				    bottom: 0px;
				    display: block;
				    margin: 0 auto;
				}
		}
	}
}
 
.brd-menu-list{
	.headinb-tag {
	    font-weight: bold;
	    font-size: 14px;
	    font-family: Calibri, Candara, Arial, sans-serif;
	}	
}
.pop-up-common-widget .col-md-6-custom.field-website {
    width: 100%!important;
}
.restaurant-editor-easily-widget .brd-btm .restaurant-editor-btn:hover{color:#c31117;}
.headinb-tag {
    font-weight: bold;
}
form.form-width-100 input, form.form-width-100 textarea, form.form-width-100 select{ 
    margin-bottom: 20px;
    width: 100%;
    padding: 12px 9px;
    border: 1px solid #fbd9d9;
    border-radius: 4px;
    background: #fcf5f5;
    box-shadow: none;
     }
.brd-menu-list{
    border-bottom: 1px solid #ccc;
    padding: 0 0 12px;
    margin-bottom: 8px;
}
.restaurant-editor-btn:hover{
  color: #d61e24;
  text-decoration: none;
}
.sign-with-googleplush {
    background: #4081f2;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    font-family: Calibri, Candara, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
	display: block;
    margin-top: 10px;
}
a.sign-with-googleplush .fa.fa-google-plus {
    font-size: 18px;
}
a.sign-with-googleplush:hover{
   color: #fff;
   background: #da2127;
   text-decoration: none;
}

/* -- -- - */


form{
	p{
		@extend .form-group;
		input,textarea,select{
			@extend .form-control;			
		}
		.helptext{
			font-size: 11px;
			color: #555;
		}
	}
	.half{
		width:50%;
	}
}
select{
	width: 100%;
	background: #fff;
	padding: 9px;
	border: 1px solid #ccc;
}   