.no-padding{padding:0px}
.navi {
    min-width: auto;
    float: none;
}
.navbar-toggle {
    background: #f00;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: auto;
    }
.red-btn {
    background: #eb2127;
    color: #fff;
    padding: 1px 9px;
    border-radius: 0px;
    font-size: 10px;
    padding: 1px 8px;
}
.red-btn:hover {
    color: #fff;
    background: #f3565a;
    text-decoration: none;
}

.text-18-black {
    color:#444; font-size: 16px;
}
.info-line {
    background: #f3f3f3;
    margin-bottom: 3px;
    padding: 7px 9px;
    font-size: 14px;
}
.add-category{
     span {
         margin: 5px 6px 0 0;
         font-size: 11px;
    }
  form{
    p{
        float: left;
       label {
           display: none;
      }
      input{
          height: 25px;
padding: 4px 8px;
font-size: 12px;
width: auto;
border-radius: 6px;
      }
    }
    .btn.btn-info {
      height: 24px;
padding: 0 8px;
border-radius: 2px;
margin: 0 0 0 6px;
font-size: 11px;
border-radius: 6px;
background: #d61e24;
border: none;
    }
  }
}

.table > tbody > tr > td{
    padding: 6px 8px;
    color: #999;
    font-size: 13px;
}
.table > thead > tr > th {
    background: #ddd;
}
.gray-bg.clearfix {
    box-shadow: 0px 0px 6px 2px #f1f1f1;
    border: 1px solid #f1f1f1;
    margin: 0 0 26px 0;
    padding: 10px;
}

.dashboard-menu-category{
  
    .title {
        color: #165ba8;
        font-weight: bold;
        font-size: 16px;
    }

    .price {
        color: #d61e24;
        font-weight: bold;
        font-size: 19px;
        margin: 2px 0;
    }

  img {
      border-radius: 0px;
  }

  .btn {
    padding: 0px;
background: #555;
padding: 1px 8px;
border-radius: 4px;
color: #fff;
font-size: 12px;
float: left;
margin: 0 0 0 2px
} .btn:hover {
    background: #d61e24;
}


}

/* restaurant-editor */
.restaurant-editor-easily-widget{

  .mobile-dashboard{


  
        .navbar-toggle {
         margin-right: 0px;
         float: none;
        }
         .navbar-collapse{
            max-height: initial;
        }      
    .list-group-item {
        background: #f00;
        padding: 0px;
          a {
            font-weight: bold;
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
            line-height: 21px;
            text-align: center;
              img {
                  border-radius: 5px 5px 0 0;
                  display: block;
                  margin: 0 auto;
              }
        }
    }

  }

    .red-dash-bg {
      background: #c31117;
      padding: 0 0 2px 0;
      .brd-btm {
           padding: 0 0 6px 0;
           margin:0 0 6px 0;
               .breadcrumb-dash {
                  padding: 11px 0 6px 22px;
                  font-size: 19px;
                  color: #fff;
                      }
               }  
        .list-group{
              .main{
                      color: #fff;
                      padding: 10px;
                      font-size: 17px;
                        .pull-right {
                            margin: 7px 0 0 0;
                        }
                  }
              li{
                 padding: 0;
                  border: none;
                  color: #fff;
                  background: none;
                  font-size: 17px;
                  font-family: Candara, Arial, sans-serif;
                  -webkit-transition: background 0.5s, border 0.5s;
                  transition: background 0.5s, border 0.5s;
                    a{
                      padding: 10px 15px;
                      color: #fff;
                        font-weight: bold;
                            display: block;
                            width: 100%;
                            img {
                                  border-radius: 0px;
                                  margin:0 18px 5px 0;
                              }
                    }
                }
                li:hover{
                    background: #a41317;
                    border-left: 6px solid #4e090b;
                    cursor: pointer;
                    a{
                    text-decoration: none;
                    }
                }
        }
    }
  .brd-btm{      
        border-bottom: 1px solid #ccc;
        margin-bottom: 23px;
        padding:6px 0 43px 0;
          .headinb-tag {
                font-size: 19px;
            }
            .breadcrumb-dash {
              padding: 0px 0 0 0;
              font-size: 19px;
          }
        .restaurant-editor-btn{
            color: #888;
            padding: 0px;
              img {
                  border-radius: 0px;
                  margin: 0 0 0 8px;
              }
         }        

      }

         .dashboard-widget{
                 .him {
                        border-radius: 0px;
                    }
                    .inf {
                      background: none;
                      color: #fff;
                        .title {
                          font-size: 28px;
                          font-weight: bold;
                      }
                      .address {
                          font-size: 20px;
                          
                      }
                      .rating{
                        i{
                          font-size: 24px;
                        }
                        .fa.fa-star {
                            color: #f6ff00;   
                          }

                      }
                      .category {
                        font-size: 16px;
                        padding: 3px 0;
                    }
                    .phone-no {
                        font-size: 20px;
                        padding: 3px 0;
                    }
                    .cost {
                      font-size: 22px;
                      padding: 3px 0;
                  }


                  }

         }

}

/* login-model */
.pop-up-common-widget{
    .auth {
          padding-left: 6px;
      } 
      label {
          display: none;
      }
      .modal-content {
         box-shadow: none;
         border:1px solid #f1f1f1;
          .close{
                  height: 25px;
                  width: 25px;
                  opacity: 1;
                  float: left;
                  display: block;
                  margin: 15px;
                  cursor: pointer;
                  z-index: 99999999999999999;
                  position: absolute;
                  top: 0px;
          }
          .close:focus, .close:hover{
                  border: none;
                  
          }
            .login-icon {
                    border: 2px solid #ccc;
                    padding: 50px;
                    border-radius: 100%;
                    height: 120px;
                    width: 120px;
                    padding: 26px 14px 0;
                    margin: 0 auto;
                img {
                      max-width: auto;
                      width: 52px;
                      height: 50px;
                      margin: 0 auto;
                      display: block;
                      line-height: 54px;
                  }
            }
            h2 {
                font-size: 32px;
                font-weight: normal;
                text-transform: uppercase;
                font-family: Calibri, Candara, Arial, sans-serif;
                margin-bottom: 21px;
                text-align: center;
            }
            form{
                  .col-md-6-custom{
                        width: 49%;
                        float: left;
                        margin-right: 1%;
                        margin-bottom: 1%;
                        height: 50px;
                            label {
                                display: none;
                            }
                           input{
                          width: 100%;
                          padding:12px 9px;
                             }
                    }
                   .col-md-6-custom.field-email{
                      width: 99%;
                      margin-right: none;
                      margin-bottom: 1%;
                    }
                    .col-md-6-custom.field-username{
                      width: 99%;
                      margin-right: none;
                      margin-bottom: 1%;
                    }
                    .field-username + .col-md-6-custom.field-password{
                      width: 99%;
                      margin-right: none;
                      margin-bottom: 1%;
                    }
                    .col-md-6-custom.field-state{
                        width: none;
                        margin-right: none;
                        margin-bottom: 1%;
                    }
                    .col-md-6-custom.field-content{
                        width: 99%;
                        margin-right: none;
                        margin-bottom: 1%;
                        height: 100px;
                        textarea{
                             box-shadow: none;
                            width: 100%;
                            height: 100px;
                            padding: 7px 10px;
                        }
                    }
                    .col-md-6-custom.field-deliver{
                        width: 99%;
                        height: auto;
                        width: 24px;
                        padding: 4px 0 5px 0;
                    } 
                    .col-md-6-custom.field-yelp_link{
                        width: 99%;
                    }
                    input{
                        border: 1px solid #fbd9d9;
                        border-radius: 4px;
                        background: #fcf5f5;
                        box-shadow: none;
                    } 

                    input[type="file"]{
                        border: 1px solid #fbd9d9;
                        border-radius: 4px;
                        background: #fcf5f5;
                        box-shadow: none;
                        padding:10px 9px;
                    } 

                    select{
                        border: 1px solid #fbd9d9;
                        border-radius: 4px;
                        background: #fcf5f5;
                        box-shadow: none;
                        height: 48px;
                    } 


                    textarea{
                        border: 1px solid #fbd9d9;
                        border-radius: 4px;
                        background: #fcf5f5;
                        box-shadow: none;
                    }                  
                  .forget-div {
                    color: #da2127;
                    padding: 18px 0 6px 0;
                    font-size: 15px;          
                    a {
                       color: #da2127;
                        text-align: right;
                        display: block;
                   }
                }
            }

           .btn-success {
              background: #da2127;
              border: none;
              width: 99%;
              border-radius: 3px;
              padding: 10px 0;
              text-transform: uppercase;
              font-size: 22px;
          } 
          .btn-success:hover {
               background: #000;
          }   
          .footer-section {
                 background: #feeeee;
                padding: 10px;
                text-align: center;
                font-size: 20px;
            a {
                color: #da2127;
            }
          }        
      } 

}


/* headernavigation */
 .header-top-navigation{ 
    color: #fff;
     padding: 11px 15px 0 0;
     margin: 0px;
      .line-brd{
              border: 1px solid #fff;   
              a{
                 padding: 0;
                }
           
          }
          .line-brd:hover, .line-brd:focus{
              border: 1px solid #f00;
              background: #f00 !important;
                a{
                  background: none !important;
                }
          }
      li{
        button {
              background: no-repeat;
              border: none;
          }
        padding: 3px 8px; 
        margin: 0 15px 0 0;         
         span{
          background:url(/static/ImagesCiiboo/header-phone-icon.png) no-reapt 0 0;
            color:#fff;
             padding: 0 3px 0 0;
            img {
              border-radius: 0px;
           }
        }
      a, button {
          padding-top: 0px;
          padding-bottom: 0px;
        } 
    }     
  }

.about-home{
        h2 {
            font-size: 17px;
            font-weight: bold;
            padding: 0px;
            margin: 0px 0 9px 0;
        }
        .sub {
            color: #333 !important;
            font-size: 16px;padding: 0px;
        }
      div{color: #676565; padding: 8px 0 0 0;
        img {
            padding: 0 6px 0 0;
        }
      }
     
}

.contact-home{  
    h2 {
            font-size: 17px;
            font-weight: bold;
            padding: 0px;
            margin: 0px 0 9px 0;
        }
     input, textarea{     
      display: block;
        width: 100%;
        padding: 10px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #333333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #f1f1f1;
        border-radius: 0;
        box-shadow: none;
        transition: none;
        cursor: pointer;
     }   

      input:focus, textarea:focus, select:focus {
          border-color: #fbacaf;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(251, 219, 220, 0.075), 0 0 8px rgba(251, 219, 220, 0.6);
      }
     .contact-search-btn{
       background: #da2127;
        border: none;
        padding: 7px 44px;
        font-size: 20px;
     }
     .contact-search-btn:hover, .contact-search-btn:active{
       background: #da2127;
     }
}

/* Restaurants-page */
.search-2-restaurants{
      padding: 25px 0;
      border: none;
    .container {
        width: 66%;
        margin: 0 auto;
        padding: 0 0 0 8%;
    }
    .input-group-addon {
             padding: 10px 0px 10px 7px;
            color: #312f2f;
            text-align: center;
            background-color: #fff;
            border: none !important;
            width: 42px !important;
            font-weight: bold;
            font-size: 16px;
          }

        input{
          width: 100% !important;
          border: none !important;
          padding: 10px 18px 10px 0;
        }

        input:focus, input:hover, input:active, {
        box-shadow: none;
        }
        .isearch{
            border: 1px solid #da2127;
            font-size: 18px;
            font-weight: 500;
            height: 43px;
            line-height: 23px;
            background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat 13px 15px #d71f25;
            padding: 0 0 0 12px;
            width: 47px !important;
            font-size: 0px;
           }
           .isearch:hover{
            background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat 13px 15px #000;
           }
}

.search-report {
    font-style: normal;
    font-size: 24px;
    padding: 0px;
    margin: 15px 0 0 0;
    color: #605b5b;
    b{ color: #000;}
     i{ color: #000;}
}
.home {
  background: url(/static/ImagesCiiboo/b.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  form {
    text-align: center;
    padding: 19px;
      div{
        .input-group-addon {
             padding: 10px 0px 10px 7px;
            color: #312f2f;
            text-align: center;
            background-color: #fff;
            border: none !important;
            width: 42px !important;
            font-weight: bold;
            font-size: 16px;
          }
        input{
          width: 100% !important;
          border: none !important;
          padding: 10px 18px 10px 0;
        }
        input:focus, input:hover, input:active, {
        box-shadow: none;
        }
        .search-btn{
            background: #d71f25;
            border: 1px solid #da2127;
            font-size: 18px;
            font-weight: 600;
            height: 43px;
            line-height: 23px;
            background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat 13px 15px #d71f25;
            width: 43px !important;
            font-size: 0px;
            float: left;
        }
        .search-btn:hover{
            background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat 13px 15px #000;
        }
      }
  }

  body {
    margin: 0px;
  }
  .home {
    background: url(/static/ImagesCiiboo/b.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    form {

      top: 30vh;
      left: 50%;
      margin-left: -200px;
     
      text-align: center;
      width: 600px;
      background: rgba(108, 12, 0, 0.73);
      padding: 19px;
      .col {
        padding: 0;
      }
    }
  }
  body {
    margin: 0px;
  }
  .jumbotron {
    margin-bottom: 0;
    color: #fff;
    padding: 100px 25px;
      h1{
          font-size: 0px;
      }
  }
  .container-fluid {
    padding: 50px 50px;
    margin: 0px;
  }
  .bg-grey {
    background-color: #fff;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }

.chip {
    float: left;
    margin: 0 10px 0 -25px;
    padding: 0 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .container {

  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .image:hover {
    opacity: 0.9;
  }

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ffa366;

    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .container:hover .overlay {
    bottom: 0;
    height: 100%;

  }

  .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .parallax {
    /* The image used */


    /* Full height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



 /* footer */
.site-footer{  

padding: 12px 0 0 0;   
      p {
          color: #454242;
      }
      .policy-nav{
         text-align: right;
          li {
              display: inline;
                color: #454242;
                 padding: 0px 12px;
                a{
                  color: #454242;
                }
            }
          li:nth-child(1) {
              border-right: 1px solid #ccc;
              color: #000;
              opacity: 1;
          }
      }
}






  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1024px) {
    .parallax {
      background-attachment: scroll;
    }
  }
.navbar-default {
    z-index: 100;
}
nav{
	z-index:10;
}
.navbar{
	 margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;

} .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color:  none ;
      background-color: none ;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
 @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
 footer {
      background-color:#2d2d30;
      color:white ;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  footer {
      background-color:#2d2d30;
      color:white ;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }}}

