@media screen and (max-width: 1200px) {
  .restaurantList .all-restaurant-right-widget .tab-content .resta .restaurants-picture {
      width: 171px!important;
  }
}

@media screen and (max-width: 900px) {
  .restaurant-inner-popular-widget .card .price-title-restaurant {
      width: 82%;
  }
  .restaurant-inner-popular-widget .card .price-title-restaurant .price {
    float: none;
  }
}

@media screen and (max-width: 768px) {
.restaurant-editor-easily-widget .brd-btm {
    border-bottom: 1px solid #ccc;
    margin-bottom: 23px;
    padding: 13px 0 35px 0;
}
h3{
    font-size: 22px;
}
body {
    font-size: 13px;
}
.restaurant-editor-easily-widget .brd-btm .headinb-tag {
    font-size: 12px;
}
.search-2-restaurants {
    padding: 10px 0 0 0;
}
.restaurant .him{
    height: 300px;
    position: absolute;
    max-width: inherit;
    width: auto;
}

.header-top-navigation {
    padding: 11px 15px 10px 0;
}
.search-2-restaurants{
    padding: 10px 0 0 0;
     .container {
          width: 90%;
          margin: 0 auto;
          padding: 0;
     }
    .isearch {
          background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat center center #d71f25 !important;
          width: 100% !important;
      }
    .navbar-form {
      border: initial !important;
      box-sizing: none !important;
      border-color: initial !important;
      box-shadow: inherit !important;
        .input-group{
            margin: 0 0 6px 0;
            width: 100%;
        }

    }
 } 

.search-2-restaurants {
    padding: 20px 0 29px 0;
    border: none;
    margin: 0;
}

.restaurant-inner-popular-widget .card .price-title-restaurant {
    width: 100%;
}

.restaurantList  {  
    .all-restaurant-right-widget{        
        .restaurants-picture {
          height: 120px;
          width: 200px;
          background: #000;
          margin: 5px auto;
             }

    }
}
  .navbar-default{    
        .navbar-header {
                  float: none;
                  width: 50px;
                  text-align: center;
                  display: block;
                  margin: 0 auto;
                  .navbar-brand {
                        padding: 7px 0 0;
                        height: auto;
                        display: block;
                    }
                 }
      .header-top-navigation{
              float: right;
                li {
              float: left;
              }
            }
    }

    .home{
        .form-inline {          
                .input-group {
                    float: none;
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 8px;
                              }
                       .search-btn {
                          background: #d71f25;
                          background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat center center #d71f25;
                          width: 100% !important;
                          float: none;
                      }
                       .search-btn:hover {
                          background: #000;
                          background: url(/static/ImagesCiiboo/restaurants-search-icon.png) no-repeat center center #d71f25;
                          width: 100% !important;
                          float: none;
                      }
                   }
      }


     .site-footer{ 
                p {
                    text-align: center;
                }
              .policy-nav {
                      text-align: center!important;
                  }
       }

     .about-home {
          margin-bottom: 32px;
      }
     
  .auto-400 {
          float: left;
          width: 46%;
          margin: 0 7px;
          margin-bottom: 0px;
           padding: 0px;
            .price-title-restaurant {
                width: 100%;
            }
       }

 }



@media screen and (max-width: 550px) { 
    .restaurant-inner-popular-widget .card .price-title-restaurant {
        width: 100%;
    }
  
    .right-restaurants-list{

       .title {width: 100%; text-align: center;
               
                .ord-now {
                    margin: 8px auto!important;
                }
         }  
        .rating-widget{width: 100%;}
        .minimum-price{width: 100%;}
        .regular-price{width: 100%;}
    }

}
@media screen and (max-width: 500px) {
.restaurant-editor-easily-widget{
   th {
      font-size: 10px;
  } 

}.restaurant-editor-easily-widget .table > tbody > tr > td {
    padding: 6px 8px;
    color: #999;
    font-size: 10px;
}


}
@media screen and (max-width: 400px) {
.home form {
    padding: 0px;
}
.home .jumbotron {
    padding: 100px 0;
}
.pop-up-common-widget .modal-content form .forget-div {
    font-size: 11px;
    line-height: 22px;
}
.restaurantList .all-restaurant-right-widget ul li {
    padding: 0px 10px;
}
.search-2-restaurants .container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10% 2px 10%;
}

.auto-400 {
    float: none;
    width: auto;
}
  .restaurant-inner-popular-widget .card .price-title-restaurant {
      width: 100%;
  }
    .restaurantList .all-restaurant-right-widget .tab-content .resta .restaurants-picture a img {
    width: 100%;
    height: auto;
}

  body{
      .pop-up-common-widget{
        .login-icon {
          height: 80px!important;
          width: 80px!important;
              img {
                  width: 60%!important;
                  height: 60%!important;
              }
          }

        .col-md-6-custom {
                height: auto !important;
                width: 100%!important;
                float: none!important;
                margin-bottom: 5px!important;
            }

          h2 {
                font-size: 20px!important;
            }
           input {
                width: auto;
                padding: 8px 9px!important;
                font-size: 13px;
            }
            input[type="file"] {
                    padding: 5px 9px !important;
                }
            .btn-success {
                  font-size: 15px!important;
              } 
            select {
                    height: 39px!important;
                }

        }
   }   

    .navbar-default{    
        .navbar-header {
                float: none;
                width: 100px;
                margin: 0 auto;
                    .navbar-brand {
                      float: none;
                      padding: 14.5px 15px 0;
                      font-size: 19px;
                      line-height: 21px;
                      height: auto;
                               }
                       }
         .header-top-navigation{
              float: none;
              padding: 11px 0 10px;
              text-align: center;
                li {
                    float: none;
                    display: inline-block;
                    text-align: center;
                    padding: 4px;
                    margin: 0 2px;
              }
            }
    }

    .footer-section {
      font-size: 14px!important;
    }

    .restaurantList{
      .all-restaurant-right-widget{
           .restaurants-picture {
                  height: 120px!important;
                  width: auto!important;
                  background: #000;
                  img {
                        height: auto;
                    }
              }
          }
    }

    .restaurant{
      .head {
          background: #000;
      }
      .him {
          width: 100%;
          height: auto;
          position: absolute;
      }

    } 

  

}