/* Restaurants-inner-page */

.restaurant-owner-tab{  
.side-main{
    padding: 0 10px 10px;
      .text-upper{
        text-transform: capitalize;
        padding: 0 5px 0 0;
        font-size: 15px;
      }
      .btn-4{
               border-radius: 2px;
              font-size: 11px;
              background: #f00;
              color: #fff;
              padding: 2px 8px;
          }
      .list-sum {
          border: 1px solid #f1f1f1;
          border-left: 0px;
          border-right: 0px;
          padding: 8px 0;
          margin: 10px 0;
      }
    .btn-list{  
        a{
          padding:2px 8px 3px 8px;
          border-radius: 2px;
          font-size: 12px;
        }
    }
  }
}


.restaurant-inner-widget{
       margin: 0px !important;
      border: none;
      border-radius: 0px;
  border: none;
    .head {
          .inf {
            background: none;
        }
     .owner-list-widget{
          h2 {
              font-weight: bold;
              color: #fff;
              font-size: 30px;
          }
          .address-location {
              color: #fff;
              font-weight: normal;
              font-size: 18px;
                img {
                  margin: -2px 5px 0 0;
              }
          }
          .rating-tag{ 
              i {
                   margin: 6px 2px 2px 0;
                }
              .fa.fa-star {
                  color: #f6ff00;
                  font-size: 20px;
              }
            .fa.fa-star-O {
                color: #fff;
                font-size: 20px;
            }
          }
          .cost-tag{
               i {
              color: #fff;
              font-size: 20px;
              margin: 10px 0;
                }
          }
          .allContent{
                  strong {
                      color: #fff;
                      font-weight: normal;
                      font-size: 18px;
                  }
          }
       }   
    }

}

/* Restaurants-popular-widget */
.restaurant-inner-popular-widget{
      .box-shadow{
        box-shadow: inset -17px 0 16px 6px #e7e6e6;
         padding: 0 26px 0 0;
        height: 100%;
      }
      .restaurant-owner-tab{
          h3 {
                 font-size: 16px;
                font-weight: normal;
                padding: 9px;
                margin: 8px 0 8px 0;
              }
          h5 {
              font-size: 12px;
              font-weight: bold;
              color: #666;
          }    
        form{
              p{
                label {
                    display: none;
                }
                input {
                    width: 75%;
                    float: left;
                    margin: 0 6px 0 0;
                }
             }
             .btn.btn-info {
                background: #d31c22;
                border: #d31c22;
                }   
        }
        .info-widget {
              border: 1px dotted #ccc;
              padding: 10px;
              border-radius: 3px;
              .info{
                        font-size: 16px;
                        font-weight: bold;
                    }
              div {
                  font-size: 14px;
                       b {
                  font-size: 12px;
                        }
              } 
                  
          }
      }

          .your-section {
                margin: 21px 0 0 0;
            }
          .heading{
            font-weight: bold;
            font-size: 20px; 
            padding: 10px 0; 
            text-transform: capitalize;
          }
          .click-edit:hover {
          text-decoration: none; 
          color: #FF7518;
                   }
          .click-edit {
              color: #777;
              float: right;
              margin: -24px 0 0 0;
          }
      .mg-20  {
      margin-bottom: 20px;
      }
            .card {
            width: auto;

              .res-img {
                      width: auto;
                      height: 150px;
                        img {
                          width: 100%;
                          height: 100%;
                          border-radius: 0px !important;
                      }
                  }
                   .price-title-restaurant {
                     position: absolute;
                      bottom: 0px;
                      background: rgba(0,0,0,0.5);
                      width: 87%;
                      display: block;
                      padding: 10px;
                        .title{
                            float: left;
                            margin: 0px;
                            padding: 0px;
                            font-size: 16px;
                            color: #fff;
                            width: 149px;
                            text-transform: capitalize;
                        }
                        .price{ float: right;
                            margin: 0px;
                            padding: 0px;
                            font-size: 16px;
                            color: #fff;
                        }
                }
        }





}


/* Restaurants-page */
.restaurantList{
    .breadcrumb-link{
      color: #605b5b;
      font-size: 16px;
            a {
                color: #000000;
                font-size: 18px;
            }
    }
    .heading-cat {
        font-weight: normal;
        font-size: 21px;
    }
  ul {

      margin: 0px;
      padding: 0px;
      list-style: none;
          li {
            padding: 8px 0 0 0;
              a {
                  cursor: pointer;
                  text-decoration: none;
                  color:#7b7b7b;
                }
                a:hover{
                  cursor: pointer;
                  text-decoration: none;
                   color:#0072bb
                }               
             }
     }
     .all-restaurant-right-widget{ 
            padding: 6px 0 0 0;
            margin: 8px 0 0 0;
            .nav-tabs {
          border-bottom: none;
          margin-bottom: 22px;
                 } 
         .tab-content{                
                .resta {
                      margin-bottom: 22px;
                      height: auto;
                      box-shadow: 0px 0px 6px 2px #f1f1f1;
                      border: 1px solid #f1f1f1;
                      border-radius: 0px;
                      .restaurants-picture {
                          height: 120px;
                          width: 200px;
                          background: #000;
                           a {
                              border-bottom: none!important;
                              cursor: pointer;
                                 img {
                                  width: 100%;
                                  height: 100%;
                              }
                            }
                            
                        }
                  .right-restaurants-list{
                       .light-12 {
                             color: #85888a;
                            text-align: center;
                            font-size: 12px;
                            margin-top: 6px;
                          }
                    .title {
                        font-size: 20px;
                        font-weight: bold;
                        padding: 0px;
                        margin: 0px;
                          a.title-name {
                                border-bottom: none !important;
                                font-size: 17px;
                                font-weight: bold;
                                padding: 0px;
                                display: block;
                                padding: 6px 0 3px 0;
                          }
                         }

                      .map {
                          font-size: 13px;
                          font-weight: normal;
                          color: #958a8a;                          
                          img {
                              margin: -2px 0 0 0;
                          }
                      }
                     .ord-now {
                         background: #d61e24;
                          color: #fff;
                          border: none !important;
                          font-size: 12px !important;
                          width: 84px;
                          display: block;
                          text-align: center;
                          border-radius: 2px;
                          padding: 4px 0;
                          font-size: 16px;
                          margin: 8px 0;
                          font-weight: normal;
                    }
                    .rating-widget{
                        margin-top: 8px;
                        .rating{
                          text-align: center;                           
                              .fa-star {
                                color: #f28510;
                              }
                            .fa.fa-star-O {
                                  color: #ccc;
                              }
                            }               
                      }
                    .minimum-price{
                       margin-top: 8px;
                      .tag {
                          text-align: center;
                          color: #d51e24;
                          font-weight: bold;
                      }
                    }  
                    .regular-price{
                          margin-top: 8px;
                          text-align: center;
                          color: #d51e24;
                          i {
                              font-weight: bold;
                              font-size: 11px;
                          }
                      }
                  } 
                }

                }    
        
            ul {
              margin: 0px;
              padding: 0px;
              list-style: none;
              border: none;
                li {
                  padding: 0px 34px 0 0;
                  font-size: 16px;
                    b {
                         font-size: 19px;
                         font-weight: normal;
                      }
                    a {
                      padding: 0px; border:none
                      }
                      a:hover,  a:focus  {
                       border-bottom: 2px solid #0072bb !important; border:none;
                      background:none;
                      }                    
                   }

             }
       }
}
.all-restaurant-right-widget .active a {
    border-bottom: 2px solid #0072bb !important; cursor: pointer;
}
.all-restaurant-right-widget .active a {
    cursor: pointer;
}
.restaurant-editor-easily-widget {
    margin-top: 20px;
}

.restaurant{
	.head{
		position: relative;
		height: 300px;
	}
	.him{
		width: 100%;
		height: 300px;
		position: absolute;
	}
	.inf{
		position: absolute;
		bottom: 15px;
		background: rgba(255, 255, 255, 0.54);
	}
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	border-radius: 5px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
	border-radius: 5px 5px 0 0;
}

.container1 {
	padding: 2px 16px; 
}
.order{
	
}

.restaurantList{
}

.btn-order{
	position: absolute;
	top: 0;
	right: 0;
}

.btn-red{
	@include button-variant(#fff, #f00, #f00);
} 

.featured{
	color:#fff;
	@include label-variant(orange);
	margin:8px;
	font-size:12px;
	padding:3px;
	font-weight:bold;
}

.resta{
	border: 1px solid #eee;
	height: 207px;
	padding: 2px;
	box-shadow: 0px 0px 5px 0px #ccc;
	.col{
		padding:0;
	}
}