{% extends "base.html" %}

{% block title %}Home

{% endblock %}

{% block content %}

<div class="home">
	<div class="jumbotron text-center" style="background-image:url(/static/ImagesCiiboo/frntimg1.jpg);background-repeat: no-repeat; background-size: cover;">
		<div class="container">
			<h1>ciibbo <img src="/static/ImagesCiiboo/ciibbo-logo.png"></h1>
			<br>
			<form class="form-inline" action="/search/" method="post">
			 {% csrf_token %}
				<div class="input-group col-md-3 col-sm-3 col-xs-12">
   					<span class="input-group-addon">Find</span>
   					<input type="text" class="form-control" name ="food" size="4" placeholder="Pizza, Food ......." required>
  				</div>				
				<div class="input-group col-md-7 col-sm-7 col-xs-12">
					<span class="input-group-addon"> 
						<img src="/static/ImagesCiiboo/search-home-icon.png">
					</span>
					<input type="text" class="form-control" name ="location" size="16" placeholder="Street address, city, state" required>
				</div>				
				<div class="input-group col-md-1 col-sm-1 col-xs-12">
					<input type="submit" class="search-btn" value="Find Food" class="btn btn-primary" />
				</div>
			</form>
		</div>	
</div>

<!--<form  action="/search/" method="post">

		<p>     
		<input type="text" placeholder="Search" name='search'  class="form-control"/>
		</p>
		<input type="submit" value="Search" class="btn btn-info" />
	</form>  -->


	<!-- Container (About Section) -->
	<div style="display:none" class="container-fluid" style="background-color:#f2f2f2">
		<div class="row">
			<div class="col-sm-8">
				<h2>Collections</h2>
				<h4>Explore curated lists of top restaurants, cafes, pubs, and bars in and around Chandigarh, based on trends</h4>
				<div class="row">
					<div class="col-sm-6" >
						<div class="row">
							<div class="col-sm-5">
								<img src="/static/ImagesCiiboo/gjelinaimg2.jpg" width="162px" height="100px">
							</div>
							<div class="col-sm-6" style="background-color:white;border-radius:10px">
								<strong>Trending this week.</strong>
								<p>The most popular restaurants in town this week</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-5">
								<img src="/static/ImagesCiiboo/gjelinaimg2.jpg" width="162px" height="100px">
							</div>
							<div class="col-sm-6" style="background-color:white;border-radius:10px">
								<strong>Trending this week.</strong>
								<p>The most popular restaurants in town this week</p>
							</div>
						</div>
					</div>

				</div>
				<br>
				<div class="row">
					<div class="col-sm-6" >
						<div class="row">
							<div class="col-sm-5">
								<img src="/static/ImagesCiiboo/gjelinaimg2.jpg" width="162px" height="100px">
							</div>
							<div class="col-sm-6" style="background-color:white;border-radius:10px">
								<strong>Trending this week.</strong>
								<p>The most popular restaurants in town this week</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-5">
								<img src="/static/ImagesCiiboo/gjelinaimg2.jpg" width="162px" height="100px">
							</div>
							<div class="col-sm-6" style="background-color:white;border-radius:10px">
								<strong>Trending this week.</strong>
								<p>The most popular restaurants in town this week</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-4" style="background-color:white;height:320px">
				<h2>Order Food Online</h2>
				<h4>From the best restaurants delivering to your doorstep</h4>
				<br>
				<strong>Enter your delivery location</strong>
				<br>
				<form class="form-inline">
					<div class="input-group">
						<input type="email" class="form-control" size="50" placeholder="Type Delivery Location here.." required>
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Container (Services Section) -->
	<div  style="display:none" class="container-fluid text-center" style=" background-image: url('/static/ImagesCiiboo/backofservices.jpg');">
		<div class="parallax">
			<div class="conatiner-fluid" style="background-color:#ffe6e6;float:left;width:300px;height:400px;border:2px solid #86592d;border-radius:3px;">
				<h2>QUICK SERVICES</h2>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/del.png" class="quick">
						<h4 class="quick">DELIVERY</h4>
					</div>
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/break.png" class="quick">
						<h4 class="quick">
							Breakfast
						</h4>
					</div>
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/lunch.png">
						<h4>Lunch
						</h4>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/dinner.png">
						<h4>Dinner
						</h4>
					</div>
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/drinks.png">
						<h4>Drinks & Nightlife
						</h4>
					</div>
					<div class="col-sm-4">
						<img src="/static/ImagesCiiboo/cafes.png">
						<h4 style="color:#303030;">Cafés
						</h4>
					</div>

				</div>
			</div>
		</div>
		<div class="parallax"></div>
	</div>

	<div style="display:none" class="container-fluid text-center bg-grey" style="background-image: url(/static/ImagesCiiboo/deal.png);background-repeat:no-repeat;height:500px">

	</div>

	<!-- Container (Portfolio Section) -->
	<div style="display:none" class="container-fluid text-center bg-grey">
		<h2>The Art of Food</h2>
		<h4>We provide you to the natural taste of food</h4>
		<div class="row text-center">
			<div class="col-sm-4">

				<img src="/static/ImagesCiiboo/paris.jpg" style="width:400px;height:300px" alt="Avatar" class="image">
				<div class="overlay">
					<div class="text">
						<h3 style="color:red;font-size:50px;align:center;"><b>Pizza</b></h3>
						<p color="white">the world class pizza is here..</p>
						<h2 style="color:red;font-size:30px">$30</h2>
					</div>
				</div>

			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="/static/ImagesCiiboo/newyork.jpg" alt="New York" width="400" height="300">
					<p><strong>New York</strong></p>
					<p>We built New York</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="/static/ImagesCiiboo/sanfran.jpg" alt="San Francisco" width="400" height="300">
					<p><strong>San Francisco</strong></p>
					<p>Yes, San Fran is ours</p>
				</div>
			</div>
		</div>
	</div>
	<div style="display:none" class="container-fluid text-center" style="background-color:#ffffff">
		<h2><strong>What our customers say</strong></h2>
		<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container" style="background-color:#f4511e;width:500px;height:300px;">
						<h4 style="color:white;">"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
						<div class="chip">
							<img src="/static/ImagesCiiboo/img_avatar.png" width="96" height="96">
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container" style="background-color:#f4511e;width:500px;height:300px;">
						<h4 style="color:white;">"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
						<div class="chip">
							<img src="/static/ImagesCiiboo/img_avatar.png" width="96" height="96">
						</div>
					</div>
				</div>
				<div class="item">
				 <div class="container" style="background-color:#f4511e;width:500px;height:300px;">
					<h4 style="color:white;">"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
					<div class="chip">
						<img src="/static/ImagesCiiboo/img_avatar.png" width="96" height="96">
					</div>
				</div>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div style="display:none" class="container">

	<div class="row">
		<div class="col-sm-6" style="background-image: url(/static/ImagesCiiboo/ordernow.jpg);height:350px;margin-right:0px;">
			<h1 style="color:#000000;align:left;margin-left: 10px;margin-top: 120px">Fresh Vegetables</h1>
			<button class="btn btn-primary pull-left" style="float:left;margin-left: 30px;" type="submit">Order Now</button>
		</div>
		<div class="col-sm-6" style="background-image: url(/static/ImagesCiiboo/ordernow.jpg);height:350px;">
			<h1 style="color:#000000;align:left;margin-left: 10px;margin-top: 120px">Fresh Vegetables</h1>
			<button class="btn btn-primary pull-left" style="float:left;margin-left: 30px;" type="submit">Order Now</button>
		</div>
	</div>
</div>

<!-- Container (Contact Section) -->
<div class="container-fluid bg-grey">	
	<div class="row">
		<div class="col-md-5 col-xs-12 col-sm-5 about-home">
			<h2>About Us</h2>
			<div class="sub">Contact us and we'll get back to you within 24 hours.</div>
			<!--<div>
				<img src="/static/ImagesCiiboo/about-location-icon.png">
				 Chicago, US
			</div>-->
			<div><img src="/static/ImagesCiiboo/about-phone-icon.png">
				 +00 1515151515</div>
			<div><img src="/static/ImagesCiiboo/about-location-icon.png">noreplyciiboo@gmail.com</div>
		</div>
		<div class="col-md-7 col-sx-12 col-sm-7  contact-home">
			<h2>CONTACT</h2>
			<div class="row">
				<div class="col-sm-6 form-group">
					<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
				</div>
				<div class="col-sm-6 form-group">
					<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
				</div>
			</div>
			<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
			<div class="row">
				<div class="col-sm-12 form-group">
					<button class="btn btn-primary pull-left contact-search-btn" type="Submit">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="site-footer" style="background: #efecec">
	<div class="container">
		<div class="col-md-6">
			<p>© Copyright ciibbo  All rights reserved.</p>
		</div>
		<div class="col-md-6">
			<ul class="policy-nav">
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
		</div>
	</div>	
</footer>
</div>

{% endblock %}




