{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>Search results for <b>{{key}}</b></h1>
<div class="row">
	<div class="col col-sm-6">		
		<h4>Cuisines</h4>
		{% for cuisine in cuisines %}
		<p><a href="/restaurants/{{cuisine.restaurant.id}}/cuisine/{{cuisine.id}}">{{ cuisine.title }}</a></p>
		<hr>
		{% endfor %}
	</div>
	<div class="col col-sm-6">
		<h4>Restaurants</h4>
		{% for restaurant in restaurants %}
		<p><a href="/restaurants/{{restaurant.id}}">{{ restaurant.title }}</a></p>
		<hr>
		{% endfor %}
	</div>
</div>
{% endblock %}