{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="row restaurant-editor-easily-widget">
	<div class="col col-sm-4 hidden-xs">
		<div class="red-dash-bg">
			<div class="clearfix brd-btm">			
				<div class="breadcrumb-dash">
					<b>ciibbo</b> >> User 
				</div>
			</div>
			<ul class="list-group">
				<div class="main">Main<img class="pull-right" src="/static/ImagesCiiboo/arrow-top-dash.png"></div>		
				{% if user.admin %}
				<li class="list-group-item">
					<a href="/dashboard/users">
					<img src="/static/ImagesCiiboo/dash-users.png">Users</a>
				</li>
				<li class="list-group-item"><a href="/dashboard/approve">
					<img src="/static/ImagesCiiboo/dash-previous-orders.png">Approve Business</a>
				</li>
				{% endif %}
				{% if user.editor %}
				<li class="list-group-item"><a href="/dashboard">
					<img src="/static/ImagesCiiboo/dash-home.png">Home</a>
				</li>
				<li class="list-group-item"><a href="/dashboard/info">
					<img src="/static/ImagesCiiboo/dash-Info.png">Info</a>
				</li>
				<li class="list-group-item"><a href="/dashboard/menu">
					<img src="/static/ImagesCiiboo/dash-menu.png">Menu</a>
				</li>
				{% else %}
				<li class="list-group-item"><a href="/dashboard">
					<img src="/static/ImagesCiiboo/dash-users.png">Profile</a>
				</li>
				{% endif %}
				<li class="list-group-item"><a href="/dashboard/orders/active">
					<img src="/static/ImagesCiiboo/dash-active-orders.png">Active Orders</a>
				</li>
				<li class="list-group-item"><a href="/dashboard/orders/old">
					<img src="/static/ImagesCiiboo/dash-previous-orders.png">Previous Orders</a>
				</li>
				
				{% if user.editor %}
				<li class="list-group-item"><a href="/dashboard/payments">
					<img src="/static/ImagesCiiboo/dash-payments.png">Payments</a>
				</li>
				{% else %}
				<li class="list-group-item"><a href="/dashboard/summary">
					<img src="/static/ImagesCiiboo/dash-payments.png">Financial Summary</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
		
	<div class="col col-md-8 col-sm-8 col-xs-12 dash">
		{% block dash %}
		{% endblock %}
	</div>
</div>



{% endblock %}
