{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}
<h1>Articles</h1>
{% if user.is_authenticated %}
<a href="/articles/create" class="btn btn-primary"> Create</a>
{% endif %}
<hr>
{% for article in articles %}
    <p>{{ article.title }}</p>
    <p>By {{ article.user.full_name }}</p>
    <p>Published {{ article.created|date:"F j, Y" }}</p>
    <a href="/articles/{{article.id}}/edit" class="btn btn-warning">Edit</a>
    <a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
    <hr>
{% endfor %}
{% endblock %}