{% extends "base.html" %}
{% block title %} Create Restaurant{% endblock %}
{% block content %}
	<div class="pop-up-common-widget">	
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content"> 
		        <button type="button" class="close" data-dismiss="modal">
		          <img src="/static/ImagesCiiboo/close-icon.png">
		         </button>
		         <div class="modal-body">
		         	<div class="login-icon">
                        <img src="/static/ImagesCiiboo/as-user-icon.png">
                    </div>			
		         	<h2>Create</h2>
					<form action="/restaurants/create" method="post" enctype="multipart/form-data">
					    {% csrf_token %}
					    {{form.as_p}}
					    <input type="submit" value="Create" class="btn btn-info" />
					</form>  
		     </div>
		</div> 
	</div>
{% endblock %}