{% extends "base.html" %}
{% block title %} Create Cuisine{% endblock %}
	{% block content %}
	<div class="pop-up-common-widget">	
		<div class="modal-dialog">
		  <!-- Modal content-->
		  <div class="modal-content"> 
		        <button type="button" class="close" data-dismiss="modal">
		          <img src="/static/ImagesCiiboo/close-icon.png">
		         </button>
		         <div class="modal-body">
		         	<div class="login-icon">
                        <img src="/static/ImagesCiiboo/as-user-icon.png">
                    </div>			
		         	<h2>Cruise Create</h2>
					<form action="" method="post" class="form-width-100 clearfix" enctype="multipart/form-data">
					    {% csrf_token %}					    
					    	<div class="col-md-6">{{ form.title }}</div>
					        <div class="col-md-6">{{ form.price }}</div>	
					        <div class="col-md-12">{{ form.picture }}</div>	
					        <div class="col-md-12">{{ form.content }}</div>	
						   <div class="col-md-12">
						   	 <input type="submit" value="Create" class="btn btn-success" />
						   	</div>
					</form>  
		     </div>
		</div> 
	</div>
{% endblock %} 




