{% extends "base.html" %}

{% block title %}Restaurants{% endblock %}

{% block content %}
</div>

	<div class="search manoj">
		<div class="nav navi navbar-nav search-2-restaurants" style="width:100%; background-image:url(/static/ImagesCiiboo/search-2-restaurants.jpg);background-repeat: no-repeat; background-size: cover;">
			<form class="navbar-form container" role="search" action="/search/" method="post">
				{% csrf_token %}
				<div class="input-group col-md-3 col-sm-3 col-xs-12">
					<span class="input-group-addon">Find</span>
					<input type="text" class="form-control" name ="food" size="4" placeholder="Enter your food here" required>
				</div>
				<div class="input-group col-md-6 col-sm-6 col-xs-12">
					<span class="input-group-addon"> 
						<img src="/static/ImagesCiiboo/search-home-icon.png">
					</span>
					<input type="text" class="form-control" name ="location" size="16" placeholder="Location" required>
				</div>
				<div class="input-group col-md-2 col-sm-2 col-xs-12">
					<input type="submit" class="btn btn-default isearch" value="Find Food" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
<div class="container">
	<div class="restaurantList">
		{% if food %}
		<div class="search-report">Search Result for <b>{{food}}</b> in <i>{{location}}</i></div>
		{% endif %}
		<div class="row">
			<div class="col col-sm-3" style="display:none">
				<div class="breadcrumb-link">
					<a hre="#">Ciibbo</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>Restaurants</span>
				</div> 	
				<hr>
				<strong>Sort by</strong>
				<br>
				<ul>
					<li><a>Popularity - high to low</a></li>
					<li><a>Rating - high to low</a></li>
					<li><a>Cost - high to low</a></li>
					<li><a>Cost - low to high</a></li>
					<li><a>Recently added</a></li>
				</ul>
				<hr>
				<div class="heading-cat">Category</div>
				<ul><li><a>
					Deliveryremove</a></li>
					<li><a>Dine-out</a></li>
					<li><a>Drinks & Nightlife</a></li>
					<li><a>Cafés</a></li>
				</ul>
				<hr>
				<div class="heading-cat">Location</div>
				<ul>
					<li><a>Chandigarh City</a></li>
					<li><a>Mohali</a></li>
					<li><a>Panchkula</a></li>
					<li><a>Zirakpur</a></li>
					<li><a>Kharar Road</a></li>
					<li><a>Phase 5, Mohali</a></li>
					<li><a>Chandigarh Industrial Area</a></li>
				</ul>
				<hr>
				<div class="heading-cat">Cuisine</div>
				<ul>
					<li><a>North Indian</a></li>
					<li><a>Fast Food 382</a></li>
					<li><a>Chinese 377</a></li>
					<li><a>Street Food 105</a></li>
					<li><a>Bakery 98</a></li>
					<li><a>South Indian 92</a></li>
					<li><a>Mithai 64</a></li>
					<li><a>Burger 59</a></li>
				</ul>
				<hr>
				<div class="heading-cat">Cost for two</div>
				<ul>
					<li><a>Less than ₹250 197</a></li>
					<li><a>₹250 to ₹500451</a></li>
					<li><a>₹500 to ₹1,000430</a></li>
					<li><a>₹1,000 to ₹1,50036</a></li>
					<li><a>₹1,500 to ₹2,50018</a></li>
					<li><a>₹2,500 +</a></li>
				</ul>
			</div>
			<div class="col col-sm-12">
				<div class="all-restaurant-right-widget">	 
					<ul class="nav nav-tabs">
						<li class="tag"><b>Sort by:</b></li>
						<li class="active"><a data-toggle="tab" href="#recommended-tab">Recommended</a></li>
						<li><a data-toggle="tab" href="#rates-tab">Rates</a></li>
					</ul>
					<div class="tab-content">
						<div id="recommended-tab" class="tab-pane fade in active">
							{% for restaurant in restaurants %}							
							<div class="resta clearfix">					
								<div class="col col-md-3 col-sm-4 col-xs-12">
									<div class="restaurants-picture">
									{% if not restaurant.picture %}
													<a href="/restaurants/{{restaurant.id}}"><img src="/static/ImagesCiiboo/ciibbo-logo.png" alt=""></a>
										{% else %}
											<a href="/restaurants/{{restaurant.id}}"><img src="/static/uploads/{{restaurant.picture}}" alt=""></a>
										{% endif %}
										
									</div>
								</div>
								<div class="col col-md-9 col-sm-8 col-xs-12 right-restaurants-list">
									<div class="col-md-5 col-xs-5 title">
										<a class="title-name" href="/restaurants/{{restaurant.id}}">
											{{ restaurant.title }}
										</a>
										<div class="map">
											<img src="/static/ImagesCiiboo/list-map.png">
											{{ restaurant.street }} {{ restaurant.city }} {{ restaurant.state }}
										</div>
										<a href="/restaurants/{{restaurant.id}}" class="ord-now">Order Now</a>
										
									</div>	
									<div class="col-md-3 col-xs-3 rating-widget">
										<div class="rating">
											{% include 'partials/rating.html' with rating=restaurant.rating %}
										</div>	
										<div class="light-12">
											17 Ratings
										</div>
									</div>
									<div class="minimum-price col-md-2 col-xs-2">
										<div class="tag">$0</div>
										<div class="light-12">minimum</div>
									</div>
									<div class="regular-price col-md-2 col-xs-2 ">
										{%include 'partials/cost.html' with cost=restaurant.cost %}
										<div class="light-12">delivery fee</div>
									</div>						
									
								</div>
							</div>								 
							{% endfor %}
						</div> 
						<div id="rates-tab" class="tab-pane fade">
							<br><br><br><br><br><br><br>
							<h4 style="color: #f00; text-align: center; display: block">Comming Soon</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}