{% extends "base.html" %}

{% block title %}Restaurant {{restaurant.title}}{% endblock %}

{% block contentFluid %}


<div class="restaurant restaurant-inner-widget">
	<div class="head">
		{% if not restaurant.banner %}
		<img src="/static/ImagesCiiboo/restaurant-banner.jpg" class="him">
		{% else %}
		<img src="/static/uploads/{{restaurant.banner}}" class="him">
		{% endif %}
		
		
		<!--<img src="/static/ImagesCiiboo/restaurant-banner.jpg" class="him">-->
		<div class="container inf">
			<div class="row">
				<!--<div class="col col-sm-2">					
					<img src="/static/uploads/{{restaurant.picture}}" style="width:300px">
				</div>-->
				<div class="col col-sm-12 owner-list-widget">					
					<h2>{{ restaurant.title }}</h2>
					<div class="address-location">
						<img src="/static/ImagesCiiboo/inner-map-location.png">{{restaurant.street}}
					</div>
					<div class="rating-tag">
						{%include 'partials/rating.html' with rating=restaurant.rating %}
					</div>
					<div class="cost-tag">
						{%include 'partials/cost.html' with cost=restaurant.cost %}
					</div>
					<div class="allContent">
						<strong>{{restaurant.content}}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="restaurant restaurant-inner-popular-widget restaurants-order-widget">
	<div class="row">
		<div class="col col-sm-8 box-shadow">
			{% if user.is_authenticated %}
			{% if user.id == restaurant.user_id %}
			<div class="your-section">
				<a href="/dashboard/orders/active" class="btn btn-success">Check Orders</a>
				<a href="/restaurants/{{restaurant.id}}/edit" class="btn btn-warning">Edit</a>
			</div>
			<hr>
			{% else %}
			{% endif %}
			{% endif %}
			{% for section in sections %}
			<div class="heading">{{section.title}}</div>
			{% if user.is_authenticated %}
			{% if user.id == restaurant.user_id %}
			<a href="/restaurants/{{restaurant.id}}/category/{{section.id}}/cuisine/create" class="click-edit">Add Cuisine <img src="/static/ImagesCiiboo/restaurant-editor-btn.png"></a>
			<div class="clearfix"></div>
			<hr>
			{% else %}
			{% endif %}
			{% endif %}
			<div class="row">
				{% for cuisine in section.cuisines %}

				<div class="col col-md-4 col-sm-6 col-xs-12 mg-20 auto-400">
						<div class="card">
								<div class="res-img">
									<img src="/static/uploads/{{cuisine.picture}}" alt="Avatar">
									<!--<img src="/static/ImagesCiiboo/gjelinaimg2.jpg">-->
								</div>
							<div class="price-title-restaurant">
								<div class="title">{{ cuisine.title }}</div>
								<div class="price">$ {{cuisine.price}}</div>
								{% if user.is_authenticated %}
									{% if user.id == restaurant.user_id %}
										<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/edit" class="red-btn">Edit</a>
										<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/delete" class="red-btn">Delete</a>
									{% endif %}

									{% if user.editor %}
									{% else %}
										<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/add" class="red-btn">Add</a>
									{% endif %}
								{% else %}
									<a href="/login" class="red-btn">Login to Order</a>
								{% endif %}
							</div>


					</div>
				</div>
				{% endfor %}
			</div>

			{% endfor %}
		</div>

		<div class="col col-sm-4 restaurant-owner-tab">			
			{% if user.is_authenticated %}
			{% if user.id == restaurant.user_id %}
			<h3>Restaurant Owner Tab</h3>
			<h5>Add Category</h5>
			<form action="/restaurants/{{restaurant.id}}/category/create" method="post">
				{% csrf_token %}
				{{ sectionform.as_p }}
				<input type="submit" value="Create" class="btn btn-info" />
			</form>			
				<div class="info-widget">
					<div class="info">Info</div>
					<div><b>Country:</b> {{restaurant.country}}</div>
					<div><b>Yelp Link:</b> {{restaurant.yelp_link}}</div>
					<div><b>Deliver To Customer:</b> 
						{% if restaurant.deliver %}
						Yes
						{% else %}
						No
						{% endif %}
					</div>
					<div></div>
				</div>
			{% endif %}
			{% if user.editor %}
			{% else %}
			<br>
			<div class="side-main">				
				<div class="clearfix cart-here">			
					<div class="pull-left">
						<div class="cart-icon">
							<img src="/static/ImagesCiiboo/cart-icon.png">Order Lists
						</div>
					</div>
					<div class="pull-right">
						<a href="/" class="back-btn">Back</a>
					</div>
				</div>

				{% if order %}
					{% for item in items %}
					<table class="table payment-cart">							
						<tbody>
						<tr>
							<td width="20%" class="text-cap">
								<img src="/static/uploads/{{item.cuisine.picture}}" width="50" height="50">
							</td>						
							<td width="70%">
								<div class="text-cap">{{item.cuisine.title}}</div>
								<div class="price-cal">
									{{item.quantity}} <i class="fa fa-times"></i> {{item.cuisine.price}} <b>=</b> {{item.amount}}
								</div>
							</td>
							<td width="10%">							
			   					 <a class="cross-btn" href="/order/{{item.id}}/dele" class="cross-btn">Delete</a>
			     			 </td>
						</tr>
						</tbody>
					</table>					
				{% endfor %}

				<table class="list-total">
					<tbody>
						<tr>
							<td width="30%">Total:</td>
							<td width="20%">&nbsp;</td>
							<td width="50%">{{total}}</td>					
						</tr>
					</tbody>
				</table>				
				<div class="btn-list">
					<a href="/order/{{order.id}}/delivery" class="btn-info">Delivery</a>
					<a href="/order/{{order.id}}/pickup" class="btn-success">Pick Up</a>
					<a href="/restaurants/{{restaurant.id}}/cancel" class="btn-warning">Cancel</a>
				</div>
				{% else %}
				<h4>Add From Menu to Order</h4>				
				{% endif %}
				{% endif %}
				{% endif %}			

			</div>
		</div>

	</div>
</div>
{% endblock %}