{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %} | ciibbo</title>
	<link rel="stylesheet" href="{% static '/assets/app.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/static/ImagesCiiboo/favicon.png">
	<link rel="icon" href="/static/ImagesCiiboo/favicon.ico">
</head>
<body>

	<nav class="navbar navbar-default">	
			<div class="navbar-header">
				<a class="navbar-brand" href="/">ciibbo</a>
				{% if user.is_authenticated %}
					{% if user.editor %}
					{% else %}
						<a  class="navbar-brand hidden-sm hidden-xs" href="/restaurants">Restaurants</a>				
					{% endif %}
				{% endif %}	
			</div>
			<ul class="nav navbar-nav navbar-right header-top-navigation hidden-sm hidden-xs">
				<!--<li>
					<span class="phone-no">
						<img src="/static/ImagesCiiboo/header-phone-icon.png">
					</span>+31 (0)70 1234567
				</li>
				<li>
					<span class="map-location">
						<img src="/static/ImagesCiiboo/header-location-icon.png">		
					</span>Restaurant street 1, NYC
				</li>-->
				<li class="line-brd"> <a href="/restaurants">
					<span class="">
						<img src="/static/ImagesCiiboo/header-res-icon.png">
					</span>Restaurants</a>
				</li>
				{% if user.is_authenticated %}
				<li class="line-brd">
					<a href="/dashboard">
						<span class="">
							<img src="/static/ImagesCiiboo/header-registor-icon.png">
						</span>

						{% if user.first_name %}
						{{ user.first_name }}
						{% else %}
						{{ user.email }}
						{% endif %}
					</a>
				</li>
				<li class="line-brd">
					<a href="/logout">
					<span class="">
						<img src="/static/ImagesCiiboo/header-logout-icon.png">
					</span>
					 Logout</a>
				</li>
				{% else %}
				<!--<li class="line-brd"><button  data-toggle="modal" data-target="#register-model">
						<span class="">
							<img src="/static/ImagesCiiboo/header-registor-icon.png">
						</span>Register
					</button >
				</li>
				<li class="line-brd"><button  data-toggle="modal" data-target="#login-model">
					<span class="glyphicon glyphicon-log-in">
						<img src="/static/ImagesCiiboo/header-login-icon.png">
					</span>Login</button >
				</li>-->
				
				<li class="line-brd"><a href="/register">
						<span class="">
							<img src="/static/ImagesCiiboo/header-registor-icon.png">
						</span>Register
					</a>
				</li>
				<li class="line-brd"><a href="/login">
					<span class="glyphicon glyphicon-log-in">
						<img src="/static/ImagesCiiboo/header-login-icon.png">
					</span>Login</a>
				</li>
				{% endif %}
			</ul>
<div class="restaurant-editor-easily-widget">
<div class="mobile-dashboard  hidden-md hidden-lg show-sm">		
	    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->

	            <div class="collapse navbar-collapse" id="navbarCollapse">               
	                <ul class="list-group nav navbar-nav">	                
					
					{% if user.admin %}
						<li class="list-group-item">
							<a href="/dashboard/users">
							<img src="/static/ImagesCiiboo/dash-users.png">Users</a>
						</li>
					{% endif %}

					{% if user.editor %}
						<li class="list-group-item"><a href="/dashboard">
							<img src="/static/ImagesCiiboo/dash-home.png">Home</a>
						</li>
						<li class="list-group-item"><a href="/dashboard/info">
							<img src="/static/ImagesCiiboo/dash-Info.png">Info</a>
						</li>
						<li class="list-group-item"><a href="/dashboard/menu">
							<img src="/static/ImagesCiiboo/dash-menu.png">Menu</a>
						</li>
						
					{% endif %}
					{% if user.is_authenticated %}
						<li class="list-group-item"><a href="/dashboard">
							<img src="/static/ImagesCiiboo/dash-users.png">Profile</a>
						</li>
						<li class="list-group-item"><a href="/dashboard/orders/active">
							<img src="/static/ImagesCiiboo/dash-active-orders.png">Active Orders</a>
						</li>
						<li class="list-group-item"><a href="/dashboard/orders/old">
							<img src="/static/ImagesCiiboo/dash-previous-orders.png">Previous Orders</a>
						</li>
						<li class="list-group-item"><a href="/dashboard/summary">
							<img src="/static/ImagesCiiboo/dash-payments.png">Financial Summary</a>
						</li>
					{% endif %}
					{% if user.editor %}
						<li class="list-group-item"><a href="/dashboard/payments">
							<img src="/static/ImagesCiiboo/dash-payments.png">Payments</a>
						</li>						
					{% endif %}			
					<li class=" list-group-item"><a href="/restaurants">
						<span class="">
							<img src="/static/ImagesCiiboo/header-res-icon.png">
						</span>
						Restaurants</a></li>				
					{% if user.is_authenticated %}
					<li class="line-brd list-group-item">
							<a href="/dashboard">
								<span class="">
									<img src="/static/ImagesCiiboo/header-registor-icon.png">
								</span>

								{% if user.first_name %}
								{{ user.first_name }}
								{% else %}
								{{ user.email }}
								{% endif %}
							</a>
					</li>
				    <li class="line-brd list-group-item">
						<a href="/logout">
						<span class="">
							<img src="/static/ImagesCiiboo/header-logout-icon.png">
						</span>
						 Logout</a>
					</li>
					{% else %}
					<li class="line-brd list-group-item"><a href="/register">
							<span class="">
								<img src="/static/ImagesCiiboo/header-registor-icon.png">
							</span>Register
						</a>
					</li>
					<li class="line-brd list-group-item"><a href="/login">
						<span class="glyphicon glyphicon-log-in">
							<img src="/static/ImagesCiiboo/header-login-icon.png">
						</span>Login</a>
					</li>
					{% endif %}
					
					
				</ul>
	            </div>
	    </nav>
	</div>
</div>



			

				
		
	</nav>
	{% block contentFluid %}{% endblock %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<script src="/static/assets/app.js"></script>

	<!-- popup model -->

		<!-- login-model -->
		<div id="login-model" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
		        <p>Some text in the modal.</p>
		      </div>      
		    </div>
		  </div>
		</div>

		<!-- register-model -->
		<div id="register-model" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Header</h4>
		      </div>
		      <div class="modal-body">
		        <p>Some text in the modal.</p>
		      </div>      
		    </div>
		  </div>
		</div>
</body>
</html>