{% extends "layouts/dashboard.html" %}
{% block title %}Restaurant {{restaurant.title}}{% endblock %}
{% block dash %}

<div class="restaurant">
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">Dashboard :</div></div>
		<div class="col-md-1 col-xs-6 no-padding">
			<a href="/restaurants/{{restaurant.id}}/edit" class="pull-right btn restaurant-editor-btn">
				Edit  <img src="/static/ImagesCiiboo/restaurant-editor-btn.png">
			</a>
		</div>
	</div>
	<div class="head dashboard-widget">
			<div class="red-opacity">
				<img src="/static/uploads/{{restaurant.banner}}" class="him">
			</div>
		<div class="inf">
			<div class="col col-sm-12">					
				<div class="title">{{ restaurant.title }}</div>
					<div class="address">{{restaurant.street}}</div>
					<div class="phone-no"><i class="fa fa-phone"></i> {{restaurant.phone}}</div>
					<div class="category">{{restaurant.category}}</div>
					<div class="rating">{%include 'partials/rating.html' with rating=restaurant.rating %}</div>
					<div class="cost">{%include 'partials/cost.html' with cost=restaurant.cost %}</div>
				<div class="allContent">
					{{restaurant.content}}
				</div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}