{% extends "layouts/dashboard.html" %}


{% block title %}Restaurant {{restaurant.title}}{% endblock %}


{% block dash %}


<div class="restaurant">
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">Info</div></div>
		<div class="col-md-1 col-xs-6 no-padding">
			<a href="/restaurants/{{restaurant.id}}/edit" class="pull-right btn restaurant-editor-btn">
				Edit  <img src="/static/ImagesCiiboo/restaurant-editor-btn.png">
			</a>
		</div>
	</div>
	<div class="dashboard-widget">
			<div class="col col-sm-12 text-18-black no-padding">
				<div class="info-line"><b>Banner:</b> {{restaurant.banner}}</div>
				<div class="info-line"><b>Picture:</b> {{restaurant.picture}}</div>
				<div class="info-line"><b>Country:</b> {{restaurant.country}}</div>
				<div class="info-line"><b>Street:</b> {{restaurant.street}}</div>
				<div class="info-line"><b>City:</b> {{restaurant.city}}</div>
				<div class="info-line"><b>State:</b> {{restaurant.state}}</div>
				<div class="info-line"><b>Zip Code:</b> {{restaurant.zip_code}}</div>
				<div class="info-line"><b>Phone:</b> {{restaurant.phone}}</div>
				<div class="info-line"><b>Category:</b> {{restaurant.category}}<</div>
				<div class="info-line"><b>Website:</b> {{restaurant.website}}</div>
				<div class="info-line"><b>Business Description:</b> {{restaurant.content}}</div>
				<div class="info-line"><b>Yelp Link:</b> {{restaurant.yelp_link}}</div>
				<div class="info-line"><b>Deliver To Customer:</b> 
					{% if restaurant.deliver %}
					Yes
					{% else %}
					No
					{% endif %}
				</div>	
		</div>
	</div>
</div>
{% endblock %}