{% extends "layouts/dashboard.html" %}


{% block title %}Restaurant {{restaurant.title}}{% endblock %}

{% block dash %}
<div class="restaurant">
	<div class="brd-btm">
		<div class="col-md-5 col-xs-3 no-padding"><div class="headinb-tag">Menu</div></div>
			<div class="col-md-7 col-xs-9 no-padding add-category">				
				<form class="pull-right" action="/restaurants/{{restaurant.id}}/category/create" method="post">
						{% csrf_token %}
						{{ sectionform.as_p }}
						<input type="submit" value="Create" class="btn btn-info" />
				</form>
				<span class="pull-right">Add Category</span>
			</div>
	</div>
	
	{% for section in sections %}
	<div class="clearfix brd-menu-list">
		<div class="col-md-10 col-xs-6 no-padding">
			<div class="headinb-tag">{{section.title}}</div>
		</div>
		<div class="col-md-2 col-xs-6 no-padding">
			{% if user.is_authenticated %}
				{% if user.id == restaurant.user_id %}
					<a href="/restaurants/{{restaurant.id}}/category/{{section.id}}/cuisine/create" class="pull-right restaurant-editor-btn">Add Cuisine <img src="/static/ImagesCiiboo/restaurant-editor-btn.png"></a>	
				{% else %}
				{% endif %}
			{% endif %}
		</div>
	</div>
	
	<div class="row dashboard-menu-category">
		{% for cuisine in section.cuisines %}
		<div class="col col-sm-6 col-xs-6">
			<div class="gray-bg clearfix">
				<div class="col col-sm-4 no-padding">				
					<!--<img src="/static/uploads/{{cuisine.picture}}" alt="">-->
					  <img src="/static/ImagesCiiboo/sanfran.jpg">
				</div>
				<div class="col col-sm-8">
					<div class="title">{{ cuisine.title }}</div>
					<div class="price">$ {{cuisine.price}}</div>
					{% if user.is_authenticated and user.id == restaurant.user_id %}
					<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/edit" class="btn">Edit</a>
					<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/delete" class="btn">Delete</a>
					{% else %}
					<a href="/restaurants/{{restaurant.id}}/cuisine/{{cuisine.id}}/add" class="btn">Add</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}