{% extends "layouts/dashboard.html" %}

{% block dash %}
<div class="restaurant">
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">Orders :</div></div>
		<div class="col-md-1 col-xs-6 no-padding"></div>
	</div>
{% if restaurant %}
<div class="brd-btm">
		<div class="col-md-11 col-xs-11 no-padding">
			<div class="headinb-tag">Orders for Restaurant <b>{{restaurant.title}}</b></div>
		</div>
		<div class="col-md-1 col-xs-6 no-padding"></div>
	</div>
{% endif %}
<div class="clearfix">	
	{% if orders %}
	{% for order in orders %}
	<div class="orders-active-widget">
		<div class="order">			
			<div class="row header-list">
				<div class="col-md-6"><b>Status&nbsp;:&nbsp;</b> {{order.status}}</div>
				<div class="col-md-6 text-right"><b>Order #&nbsp;:&nbsp;</b>{{order.id}}</div>
			</div>
			{% if user.editor %}
			<div class="restaurant-tag"><b>Placed By&nbsp;:&nbsp;</b> {{order.user.name}}</div>
			{% else %}
			<div class="restaurant-tag"><b>Restaurant&nbsp;:&nbsp;</b> {{order.restaurant.title}}</div>
			{% endif %}

			{% for item in order.items %}
			<table class="table price-invoice-list">
				<tr>
					<td width="10%">1</td>	
					<td width="30%"><img src="/static/ImagesCiiboo/catd-dummy-img.png" width="30" height="30"></td>
					<td width="30%">{{item.cuisine.title}}</td>
					<td width="30%">{{item.quantity}} <i class="fa fa-times"></i> {{item.cuisine.price}} <b>=</b> {{item.amount}}</td>	
				</tr>	
			</table>			
			{% endfor %}
			<table class="table price-list">
				<tr>
					<td width="10%">&nbsp;</td>	
					<td width="30%">&nbsp;</td>
					<td width="30%">Total:</td>
					<td width="30%">{{order.total}}</td>	
				</tr>	
			</table>
			{% if order.address %}
			<div class="addres-widget">
				<div class="header"><b>Delivery : Address</b></div>
				<div class="row">
					<div class="col-md-6"><b>Address Title&nbsp;:&nbsp;</b>{{order.address.title}}</div>
					<div class="col-md-6"><b>Address House&nbsp;:&nbsp;</b>{{order.address.house}}</div>
					<div class="col-md-6"><b>Address Street&nbsp;:&nbsp;</b>{{order.address.street}}</div>
					<div class="col-md-6"><b>Address City&nbsp;:&nbsp;</b>{{order.address.city}}</div>
					<div class="col-md-6"><b>Address Pin&nbsp;:&nbsp;</b>{{order.address.pin}}</div>
					<div class="col-md-6"><b>Address Phone&nbsp;:&nbsp;</b>{{order.address.phone}}</div>
				</div>
			</div>
			{% else %}
			<h4>Pickup</h4>
			{% endif %}
			{% if user.editor %}
			<h5>Update Status </h5>
			<a href="/dashboard/orders/{{order.id}}/status/5" class="btn btn-info">Confirmed</a>
			<a href="/dashboard/orders/{{order.id}}/status/6" class="btn btn-info">Preparing</a>
			<a href="/dashboard/orders/{{order.id}}/status/7" class="btn btn-info">On The Way</a>
			<a href="/dashboard/orders/{{order.id}}/status/8" class="btn btn-info">Delivered</a>
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h5>No Orders Yet</h5>
	{% endif %}
</div></div>
{% endblock %}


