{% extends "layouts/dashboard.html" %}

{% block dash %}
<div class="restaurant">
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">{% block title %}Restaurant {{restaurant.title}}{% endblock %}</div></div>
		<div class="col-md-1 col-xs-6 no-padding">
			
		</div>
	</div>

<h3>Payments</h3>
{% if restaurant.stripeId %}
<h4>You will receive payments at stripe ID {{restaurant.stripeId}}</h4>
{% if orders %}
<table class="table">
	<thead>
		
		<tr>
			<th>User</th>
			<th>Order Id</th>
			<th>Amount</th>
		</tr>
	</thead>
</tbody>
{% for order in orders %}
<tr>
	<td>{{order.user.first_name}} {{order.user.last_name}}</td>
	<td>#{{order.id}}</td>
	<td>$ {{order.total}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding">
			<div class="headinb-tag">Financial Summary</div>
		</div>
		<div class="col-md-1 col-xs-6 no-padding">
			
		</div>
	</div>
	<h5>No Summary Yet</h5>
{% endif %}
</div>
{% else %}
<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{connectId}}&scope=read_write">Start Receiving Payments</a>
{% endif %}
{% endblock %}