{% extends "layouts/dashboard.html" %}
{% block dash %}
<div class="dashboard-profile">
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">Profile :</div></div>
		<div class="col-md-1 col-xs-6 no-padding">
			<a href="/update/" class="pull-right btn restaurant-editor-btn">
				Update Profile  <img src="/static/ImagesCiiboo/restaurant-editor-btn.png">
			</a>
		</div>
	</div>
		<div class="col-md-3 no-padding">
			{% if not user.avatar %}
			<img src="/static/ImagesCiiboo/ciibbo-logo.png" alt="John" width="200" class="brd-rds">
			{% else %}
			<img src="/static/uploads/{{user.avatar}}" alt="John" width="200" class="brd-rds">
			{% endif %}
		</div>
	  	<div class="col-md-9">
	    	<div class="form-level">{{user.name}}</div>
			<div class="form-level"><b>Name&nbsp;:&nbsp;</b> {{ user.first_name }} {{ user.last_name }}</div>
	      	<div class="form-level"><b>Email&nbsp;:&nbsp;</b> {{ user.email }}</div>
		  	<div class="form-level"><b>Phone number&nbsp;:&nbsp;</b> {{ user.mobile }}</div>
		  	<div class="form-level"><b>Address&nbsp;:&nbsp;</b> {{ user.addres }}
		  	 {{ user.city }} {{ user.state }} {{ user.zip }}
		  	</div>
		  
	      {% if user.is_authenticated %}
			{% if user.editor %}
			<hr>
			<!-- <a href="/restaurants/create" class="btn btn-primary"> Add Your Restaurant</a> -->
			{% endif %}
			{% endif %}
	  </div>
<div >
</div>
</div>
{% endblock %}