{% extends "layouts/dashboard.html" %}

{% block dash %}
<div class="dashboard-summary">
{% if orders %}
	<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding"><div class="headinb-tag">Summary :</div></div>
		<div class="col-md-1 col-xs-6 no-padding"></div>
	</div>
<table class="table">
	<thead>
		
		<tr>
			<th>Restaurant</th>
			<th>Order Id</th>
			<th>Amount</th>
		</tr>
	</thead>
</tbody>
{% for order in orders %}
<tr>
	<td>{{order.restaurant.title}}</td>
	<td>#{{order.id}}</td>
	<td>$ {{order.total}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="brd-btm">
		<div class="col-md-11 col-xs-6 no-padding">
			<div class="headinb-tag">Financial Summary</div>
		</div>
		<div class="col-md-1 col-xs-6 no-padding"></div>
	</div>
<h5>No Summary Yet</h5>
{% endif %}
</div>
{% endblock %}