{% extends "layouts/dashboard.html" %}

{% block dash %}
<div class="height-300">
	<table class="table" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Username</th>
				<th>Type</th>
				<th>Action</th>

			</tr>
		</thead>
		<tbody>
		{% for users in users %}
		
			<tr>
				<td width="25%">{{users.first_name}} {{users.last_name}}</td>
				<td width="30%">{{users.email}}</td>
				<td width="20%">{{users.username}}</td>
				
				{% if users.editor %}
				<td width="20%">Business</td>
				
				{% else %}
				<td width="15%">User</td>
				{% endif %}
				<td>
					<!-- <a href="/edit/user/{{user.id}}" class="btn btn-danger">Edit</a> -->
					<a class="btn-radius-4" href="/delete/user/{{users.id}}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		
		{% endfor %}
		</tbody>			
	</table>
</div>
{% endblock %}


