{% extends 'base.html' %}

{% block content %}
<div class="pickup-widget">
	<div class="row">
		<div class="header clearfix">
			<h2 class="pull-left">Order</h2>
			<a href="/restaurants/{{order.restaurant.id}}" class="back-btn pull-right">Back</a>
		</div>
		<div class="col col-sm-12 no-padding border-cont">
		  {% if order %}
			<table class="table">
				{% for item in items %}			
				<tr>
					<td width="20%"><img src="/static/ImagesCiiboo/catd-dummy-img.png" width="40" height="40"></td>
					<td width="60%">{{item.cuisine.title}}</td>
					<td width="20%">{{item.quantity}} <i class="fa fa-times"></i> {{item.cuisine.price}} <b>=</b> {{item.amount}}</td>				
				</tr>
				{% endfor %}
				<tr class="border">
					<td>&nbsp;</td>
					<td><b>Total:</b></td>
					<td><b>{{total}}</b></td>
				</tr>	
				{% else %}
				<h4>Add From Menu to Order</h4>
				{% endif %}
			</table>
		</div>
		{% if order.address %}
		<div class="col col-sm-12 section-part border-cont">
			<div class="header clearfix">
				<h2 class="pull-left">Address</h2>
				<button type="button" class="back-btn pull-right" data-toggle="modal" data-target="#pickup-address">Change</button>
			</div>
			<div class="col-md-4"><b>Address Title :&nbsp; </b>{{order.address.title}}</div>
			<div class="col-md-4"><b>House :&nbsp; </b>{{order.address.house}}</div>
			<div class="col-md-4"><b>City :&nbsp; </b>{{order.address.city}} - {{order.address.pin}}</div>
			<div class="col-md-4"><b>State :&nbsp; </b>{{order.address.state}}</div>
			<div class="col-md-4"><b>Phone :&nbsp; </b>{{order.address.phone}}</div>
			<div id="pickup-address" class="pop-up-common-widget modal fade" role="dialog">
		        <div class="modal-dialog">
		          <!-- Modal content-->
		          <div class="modal-content">
		          <button type="button" class="close" data-dismiss="modal">
		                     <img src="/static/ImagesCiiboo/close-icon.png">
		                 </button>                 
		              <div class="modal-body">
		                 <div class="auth Login">                 
		                    <div class="login-icon">
		                        <img src="/static/ImagesCiiboo/as-user-icon.png">
		                    </div>                
		                     <h2>Change Address</h2>
			                  <form action="/order/{{order.id}}/checkout/{{order.address.id}}/update" method="post">
								{% csrf_token %}
								{{ form.as_p }}
								<input type="submit" value="Update" class="btn btn-success" />
							</form>        			  
		               </div>               
		             </div>
		          </div>
		        </div>
		 	</div>
		</div>
		{% endif %}		
		<div class="col col-sm-12 section-part border-cont">		
			<div class="header clearfix">
				<h2 class="pull-left">Select Payment</h2>				
			</div>
			<div class="col-sm-12">
				<form action="/order/{{order.id}}/payment" method="POST">
					{% csrf_token %}
					<script
					src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="{{stripekey}}"
					data-amount="{%widthratio total 1 100%}"
					data-email="{{user.email}}"
					data-name="Ciibbo"
					data-description="Widget"
					data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
					data-locale="auto"
					data-zip-code="true">
					</script>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}