{% extends 'base.html' %}

{% block content %}
<div  style="border: 2px solid #222222;padding: 0px;margin: 0px;">
	<div style="background-color: #222222;">
		<h2 style="color: white"><strong>Great, Your order is Placed!</strong></h2>
	</div>

	<div class="row">
		<div class="col col-sm-4">
			<img src="/static/ImagesCiiboo/thankyou.png" width="auto" />
		</div>
		<div class="col col-sm-4" >
			{% if order %}
			<h4>Order #{{order.id}} from <i>{{order.restaurant.title}}</i></h4>
			<h4><strong>Total: {{total}}</strong></h4>
			<h4>Delivery Address:</h4>
			<h4>{{order.address.title}}</h4>
			<p>{{order.address.house}}</p>
			<p>{{order.address.street}}</p>
			<p>{{order.address.city}} - {{order.address.pin}}</p>
			<p>{{order.address.phone}}</p>

			{% else %}
			<h4>Add From Menu to Order</h4>
			{% endif %}

		</div>
		{% if order.address %}
		<div class="col col-sm-4">

		</div>
		{% endif %}

		<div class="col col-sm-4">
			<h3>Payment</h3>

		</div>

	</div>
</div>
{% endblock %}