{% extends 'base.html' %}

{% block content %}
 
<div class="row restaurant-inner-popular-widget delivery-page-widget">	
	<div class="col col-sm-8 box-shadow">
		<img src="/static/ImagesCiiboo/orderback.jpg">
		<div class="clearfix mrg-20">
			<div class="col-md-9 col-xs-6">
				<div class="select-ad">Select Address</div>
			</div>
		  <div class="col-md-3 col-xs-6 no-padding">
         	<button type="button" class="add-new-address" data-toggle="modal" data-target="#delivery-add-address">Add new Address <img src="/static/ImagesCiiboo/add-new-btn.png">
         	 </button>
				<div id="delivery-add-address" class="pop-up-common-widget modal fade" role="dialog">
				        <div class="modal-dialog">
				          <!-- Modal content-->
				          <div class="modal-content">
				          <button type="button" class="close" data-dismiss="modal">
				                     <img src="/static/ImagesCiiboo/close-icon.png">
				                 </button>                 
				              <div class="modal-body">
				                 <div class="auth Login">                 
				                    <div class="login-icon">
				                        <img src="/static/ImagesCiiboo/as-user-icon.png">
				                    </div>                
				                     <h2>Add New Address</h2>
										<form action="/order/{{order.id}}/addAddress" method="post">
											{% csrf_token %}
											{% for users in users %}	
											<p><label for="id_title">Title:</label> 
											<input type="text" name="title" required="" id="id_title"  maxlength="20"></p>
											<p><label for="id_house">Address:</label> <input type="text" name="house" required="" value="{{users.addres}}" id="id_house" maxlength="200"></p>
											<p><label for="id_suite">Apt/Suite:</label> <input type="text" name="suite" id="id_suite" maxlength="80"></p>
											<p><label for="id_city">City:</label> <input type="text" name="city" required="" value="{{users.city}}" id="id_city" maxlength="80"></p>
											<p><label for="id_state">State:</label> <input type="text" name="state" required="" id="id_state" value="{{users.state}}" maxlength="40"></p>
											<p><label for="id_zip_code">Zip code:</label> <input type="text" name="zip_code" required="" value="{{users.zip}}" id="id_zip_code" maxlength="20"></p>
											<p><label for="id_phone">Phone:</label> <input type="text" name="phone" required="" id="id_phone" value="{{users.mobile}}" maxlength="20"></p>
											<p><label for="id_cross_street">Cross street:</label> <input type="text" name="cross_street" id="id_cross_street" maxlength="80"></p>
											<p><label for="id_instructions">Instructions:</label> <input type="text" name="instructions" id="id_instructions" maxlength="400"></p>
											
											 {% endfor %}
											<input type="submit" value="Add" class="btn btn-success" />
										</form>
				 				</div>               
				             </div>
				          </div>
				        </div>
					</div>
				</div>
		</div>		

		 {% for address in addresses %}
			{% ifequal address.id order.address.id %}
			<div class="col col-sm-12 widget-color clearfix">{% else %}
				<div class="col-sm-12 widget-color clearfix">
					{% endifequal %}
					<div class="col-md-12">					
						<b>Address title :&nbsp; </b>
						<a href="/order/{{order.id}}/selectAddress/{{address.id}}">{{address.title}}</a>					
					</div>
					<div class="col-md-4"><b>Address House&nbsp;:&nbsp;</b>{{address.house}}</div>
					
					<div class="col-md-4"><b>Address City&nbsp;:&nbsp;</b>{{address.city}}</div>
					<div class="col-md-4"><b>Address State&nbsp;:&nbsp;</b>{{address.state}}</div>
					<div class="col-md-4"><b>Address Pin&nbsp;:&nbsp;</b>{{address.zip_code}}</div>
					<div class="col-md-4"><b>Address Phone&nbsp;:&nbsp;</b>{{address.phone}}</div>
					
                {% if address.id != order.address.id %}
				<div class="col-md-12 no-padding">
					<button onclick="location.href='/order/{{order.id}}/address/{{address.id}}/delete'" class="btn-remove" type="button">Remove</button>
     			</div>
			     {% endif %}
			</div>
			{% endfor %}	

	</div>
	<div class="col col-sm-4">
		<div class="brd-cart-payment-widget">			
			<div class="clearfix cart-here">			
				<div class="pull-left">
					<div class="cart-icon">
						<img src="/static/ImagesCiiboo/cart-icon.png">Cart Here
					</div>
				</div>
				<div class="pull-right">
					<a href="/restaurants/{{order.restaurant.id}}" class="back-btn">Back</a>
				</div>
			</div>	 
			{% if order %}
			<table class="table payment-cart">
				{% for item in items %}			
					<tr>
						<td width="20%" class="text-cap"><img src="/static/ImagesCiiboo/catd-dummy-img.png" width="50" height="50"></td>						
						<td width="70%">
							<div class="text-cap">{{item.cuisine.title}}</div>
							<div class="price-cal">{{item.quantity}}<i class="fa fa-times"></i> {{item.cuisine.price}} <b>=</b> {{item.amount}}
							</div>
						</td>
						<td width="10%">
							<button onclick="location.href='/order/{{order.id}}/address/{{item.id}}/delete1'" class="cross-btn" type="button">
		     Remove</button> 
		     			 </td>
					</tr>			
				{% endfor %}
			</table>
			<table class="list-total">
				<tr>
					<td width="30%">Sub total</td>
					<td width="20%">&nbsp;</td>
					<td width="50%">{{total}}</td>					
				</tr>
			</table>
	        
			
			{% else %}
			<h4>Add From Menu to Order</h4>
			{% endif %}
	   			 {% if order.address %}
					<a href="/order/{{order.id}}/checkout" class="proceed-btn btn-success">Proceed</a>
			{% else %}
			<h4>Please select an Address</h4>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}